object {
    background-color: white;
}
object#wheel {
    background-color: transparent;
}
option {
    -moz-binding: url("<q>assets/xml/ellipsis.xml#ellipsis</q>");
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}
body {
    background-image: url("/img/background-pattern.png");
    background-repeat: repeat;
    color: #EEEEEE;
    font-family: "lucidagrande",tahoma,verdana,arial,sans-serif;
    font-size: 10pt;
    min-height: 900px;
}
a[href$=".pdf"], a[href$=".PDF"] {
  background: url("/img/pdf-icon.png") no-repeat scroll left center transparent;
  display: block;
  height: auto;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-top: 3px;
}
a[href$=".doc"], a[href$=".DOC"] {
  background: url("/img/word-icon.png") no-repeat scroll left center transparent;
  display: block;
  height: auto;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-top: 3px;
}
a[href$=".docx"], a[href$=".DOCX"] {
  background: url("/img/word-icon.png") no-repeat scroll left center transparent;
  display: block;
  height: auto;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-top: 3px;
}
a[href$=".mp3"], a[href$=".MP3"]  {
  background: url("/img/audio-icon32x32.png") no-repeat scroll left center transparent;
  display: block;
  height: auto;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-top: 3px;
}
a[href$=".ppt"], a[href$=".PPT"], a[href$=".pptx"] {
  background: url("/img/ppt-icon24x24.png") no-repeat scroll left center transparent;
  display: block;
  height: auto;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-top: 9px;
}
a.chapter {
    background: url("/img/chapter-icon30x30.png") no-repeat scroll left center transparent;
  display: block;
  height: auto;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-top: 3px;
  margin: 6px;
  cursor: pointer;
}
a.chapter:hover {
    background-color: #000;
    color: #fff !important;
}
label {
	font-size: 12px;
}
div#wrapper {
    background-color: #131313;
    background-image: url("/img/background_w1130tiny.png");
    background-position: right top;
    background-repeat: repeat;
    border: 5px solid white;
    box-shadow: 10px 10px 5px #333333;
    margin: 0 auto;
    min-height: 700px;
    overflow: hidden;
    text-align: left;
    width: 1130px;
}
.home-nav-box a, .home-nav-box a:visited {
    color: #EAB74D;
    text-decoration: none;
}
#menu a {
    color: #EAB74D !important;
    cursor: pointer;
    text-decoration: none;
}
#menu a:hover {
    text-decoration: underline;
}
.home-layout {
  background-color: #322A32 !important;
  border: thick solid #663399;
  border-radius: 15px;
  margin-top: 40px;
  overflow: hidden;
  padding: 5px 5px 35px;
}
h1 {
    margin-top: 5px;
    color: #FFB510;
    font-size: 20pt;
}
#content-pane a {
    color: #FFB510;
}
input:valid, textarea:valid {
  border-radius: 5px 5px 5px 5px;
  margin: 9px;
}
.layout {
    margin: 0 auto;
}
.nav-item {
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
}
div#contact {
  float: right;
  margin-top: 24px;
}
header {
    background-image: url("/img/logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    height: 114px;
    width: 1130px;
}
header img {
    float: left;
    font-size: 13pt;
    font-style: oblique;
    margin-left: 15em;
    margin-top: 0.5em;
}
div#login {
  float: right;
  font-size: 11pt;
  font-weight: bold;
  margin-right: 1em;
  margin-top: -7px;
  overflow: hidden;
  padding-top: 18px;
  vertical-align: bottom;
}
div#login a {
    color: #EAB74D;
    margin-left: 8px;
}
div#login a:hover {
    color: #EAB74D;
    text-decoration: underline;
}
div#breadcrumbs {
    background-color: transparent;
    border-radius: 2px 2px 0 0;
    font-size: 10pt;
    font-weight: bold;
    margin-left: -13px;
    margin-top: -13px;
    padding-right: 26px;
    width: 100%;
}
div#breadcrumbs a {
    color: #EAB74D;
    font-size: 10pt;
    margin-left: 1em;
}
div#menu {
  border-radius: 2px 2px 2px 2px;
  float: left;
  height: inherit;
  margin-left: 10px;
  margin-top: -39px;
  opacity: 0.9;
  padding-right: 0;
  width: 205px;
}
div#contact {
    float: right;
}
.nav-item ul {
    list-style: none outside none;
}
.nav-item li {
    font-size: 10pt;
    margin: 2px 2px 2px -25px;
    padding: 2px;
}
.nav-item a:hover {
    background-image: url("../img/link-bg-lit.png");
}
.nav-item a {
    background-image: url("../img/link-bg.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    margin-left: -12px;
    padding: 0 0 0 17px;
}
div#banner {
    clear: right;
    float: left;
}
.banner img {
    height: 120px;
    width: 498px;
}
.slidingbanners {
    border: thin dashed #FFFFFF;
    display: block;
    height: 120px;
    min-height: 120px;
    min-width: 498px;
}
footer {
  background: none repeat scroll 0 0 white;
  color: black;
  float: left;
  height: 169px;
  padding-top: 30px;
  width: 1130px;
}
div#content-pane {
  background-color: transparent;
  float: left;
  margin: -70px 0 15px 7px;
  max-width: 895px;
  min-height: 773px;
  min-width: 772px;
  padding: 1em;
  width: 875px;
}
img.icon {
  margin-right: 10px;
  max-height: 50px;
  max-width: 50px;
  vertical-align: middle;
}
div#traffic-light-set {
  background-image: url("/img/walker-outline-22x37-3l.png");
  float: left;
  height: 37px;
  margin-bottom: 19px;
  margin-left: 44px;
  width: 111px;
}
div#traffic-light-set > div {
    float: left;
    font-size: 45px;
    height: 27px;
    line-height: 29px;
    margin-left: 10px;
    margin-top: 0;
    max-width: 27px;
    min-width: 27px;
    opacity: 0.6;
    padding-bottom: 5px;
    width: 27px;
}
.emerging {
	background-color: #C84242;
	color: #000;
	padding: 5px;
	border: thin solid black;
	line-height: 23px;
	width: auto;
	display: block;
	float: left;
	margin-left: 1px;
}
.consolidating {
	background-color: #FF8400;
	color: #000;
	padding: 5px;
	border: thin solid black;
	line-height: 23px;
	display: block;
	float: left;
	width: auto;
	margin-left: 1px;
}
.competent {
	background-color: #42C842;
	color: #000;
	padding: 5px;
	border: thin solid black;
	line-height: 23px;
	width: auto;
	height: auto;
	display: block;
	float: left;
	margin-left: 1px;
}
.inline_emerging {
	background-color: #C84242;
	color: #000;
	padding: 5px;
	border: thin solid black;
	line-height: 23px;
	width: auto;
	margin-left: 1px;
	float: none; 
	display: inline;
}
.inline_consolidating {
	background-color: #FF8400;
	color: #000;
	padding: 5px;
	border: thin solid black;
	line-height: 23px;
	float: none; 
	display: inline;
	width: auto;
	margin-left: 1px;
}
.inline_competent {
	background-color: #42C842;
	color: #000;
	padding: 5px;
	border: thin solid black;
	line-height: 23px;
	width: auto;
	height: auto;
	float: none; 
	display: inline;
	margin-left: 1px;
}
th span.competent, th span.consolidating, th span.emerging {
	float: none;
	width: 100%;
	margin: 0 0 0 -5px;
}
div.levels-container {
	text-align: center;
	width: 100%;
	margin-left: 26%;
}
.home-layout ul {
    color: black;
    list-style: none outside none;
    margin: -17px 0 0 45px;
    text-align: center;
}
.home-layout ul li {
    border-radius: 1em 1em 1em 1em;
    float: left;
    height: 1em;
    margin: 5px;
    padding: 9px;
    width: 200px;
}
.home-layout .home-nav-box {
    float: left;
    max-height: 180px;
    max-width: 282px;
    min-width: 282px;
    text-align: center;
}
.home-nav-box .inner-border {
    margin: 0.4em;
    max-height: 160px;
    min-height: 160px;
    padding: 0.2em;
}
.home-nav-box img {
    max-height: 100px;
    min-height: 100px;
}
.home-nav-box .right-arrow {
background-image: url("/img/right-arrow.png");
background-repeat: no-repeat;
height: 30px;
margin-left: 267px;
background-size: 22px;
margin-top: 114px;
position: absolute;
width: 39px;
}
.home-nav-box .left-arrow {
    background-image: url("/img/left-arrow.png");
    background-repeat: no-repeat;
    height: 30px;
    background-size: 22px;
    margin-left: 273px;
    margin-top: 114px;
    position: absolute;
    width: 39px;
}
.home-nav-box .up-arrow {
    background-image: url("/img/up-arrow.png");
    background-repeat: no-repeat;
    background-size: 22px;
    height: 39px;
    margin-left: -549px;
    margin-top: -47px;
    position: absolute;
    width: 30px;
}
.home-nav-box .down-arrow {
    background-image: url("/img/down-arrow.png");
    background-repeat: no-repeat;
    background-size: 22px;
    height: 100px;
    margin-left: 241px;
    margin-top: 130px;
    position: absolute;
    width: 30px;
}
.home-nav-box:hover {
    background: none repeat scroll 0 0 rgba(200, 200, 200, 0.5);
    cursor: pointer;
}
a.button {
    background-color: #F4E9E9;
    border: 2px solid #888888;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 10px;
    font-weight: bold;
    margin: 2px;
    padding: 4px;
    position: relative;
    color: #551A8B !important;
}
a.button:hover {
    background-color: #EAB74D;
    text-decoration: none;
}
div.ajax-loader {
    background-color: #323232;
    background-image: url("/img/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 20px 20px;
    color: #EAB74D;
    display: none;
    height: 120px;
    left: 50%;
    margin-left: -150px;
    margin-top: -60px;
    opacity: 0.98;
    padding-top: 4em;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 300px;
    z-index: 10;
}
div.timeline {
    width: 750px;
}
div.timeline.open-panel {
  background: none repeat scroll 0 0 #777777;
  border: thick solid #663399;
  border-radius: 15px 15px 15px 15px;
  color: #000000;
  height: 1%;
  margin-bottom: 5px;
  max-height: 100%;
  min-width: 100%;
  overflow: hidden;
  padding: 1em;
}
div.timeline-top {
    background-image: url("/img/timeline-top-30x46.png");
    background-repeat: no-repeat;
    background-size: 15px 23px;
    height: 23px;
    line-height: 12px;
    max-height: 23px;
    padding-left: 18px;
}
div.timeline-center {
    background-image: url("/img/timeline-center-30x62.png");
    background-repeat: no-repeat;
    background-size: 15px 31px;
    height: 31px;
    line-height: 31px;
    max-height: 31px;
    padding-left: 18px;
}
div.timeline-bottom {
    background-image: url("/img/timeline-bottom-30x46.png");
    background-repeat: no-repeat;
    background-size: 15px 23px;
    height: 23px;
    line-height: 31px;
    max-height: 23px;
    padding-left: 18px;
}
.timeline.open-panel > ul {
  list-style: none outside none;
}
.timeline.open-panel li {
  background-color: #EEEEEE;
  border: thin solid #663399;
  color: black;
  cursor: default;
  margin-bottom: 2px;
  margin-left: -41px;
  margin-right: 2px;
}
.open-panel li:hover {
	background-color: #AAA;
}
.timeline-label {
	cursor: pointer;
}
.timeline .exit:hover {
    margin: -3px;
    width: 26px;
    cursor: pointer;
}
.inner-border > p {
    color: white;
    font-weight: bold;
}
#otpp {
     background-color: rgba(120, 120, 120, 0.97);
     border: thin solid #CCCCCC;
     border-radius: 3px 3px 3px 3px;
     display: none;
     left: 23%;
     padding: 1em;
     position: absolute;
     top: 10%;
}
#otpp #exit-button {
    background-image: url("/img/close-icon.png");
    float: right;
    height: 20px;
    left: 650px;
    position: absolute;
    width: 20px;
}
#otpp #exit-button:hover {
    cursor: pointer;
}
.cycle-toolbar {
background-color: rgba(0, 0, 0, 0.3);
border: thin solid #555555;
border-radius: 5px 5px 5px 5px;
cursor: pointer;
height: 9px;
margin-left: 632px;
margin-top: -15px;
min-height: 9px;
overflow: hidden;
padding: 5px;
position: absolute;
text-align: left;
width: 240px;
z-index: 1;
}
.panel {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: rgba(66, 66, 66, 0.9);
border-color: -moz-use-text-color -moz-use-text-color #555555;
border-image: none;
border-style: none none solid;
border-width: medium medium thin;
margin: -4px;
padding: 0;
text-align: center;
}
.cycle-toolbar a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #322A32;
  border-color: -moz-use-text-color -moz-use-text-color #663399;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium thin;
  display: block;
  margin-left: -5px;
  padding: 2px;
  text-align: center;
  text-decoration: none;    
}
.cycle-toolbar a:hover {
  background-color: #FFB510;
  color: #852C8A !important;
  border-bottom: thin solid #852C8A;
}
.cycle-toolbar > ul {
  list-style: none outside none;
  padding: 0;
  margin-top: 5px;
}
.site-search {
  margin-left: 584px;
  margin-top: -19px;
  position: absolute;
}
table.learning-contract {
border-collapse: separate;
border-color: #639;
}
table.learning-contract th {
background-color: #639;
border: thin solid #777;
font-size: 16pt;
}
div.video-iframe {
	float: left; 
	display: block
}
div.video-caption-links {
	text-align:left; 
	width: 205px; 
	padding: 5px; 
	float: left; 
	clear: right;
	margin-left: 2em;
}
.video-caption-links > a {
  line-height: 26px;
  padding: 1em;
}
#content-pane h1, #content-pane h2 {
    color: #FFB510;
    margin-top: 26px;
    margin-bottom: 4px;
}
div.global_file-viewer {
  background: none repeat scroll 0 0 #CCCCCC;
  border: thin solid black;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 12px 10px #000000;
  clear: both;
  color: #000000;
  height: 350px;
  left: 30%;
  padding: 30px;
  position: fixed;
  top: 20%;
  width: 520px;
  overflow: auto;
}
div.global_file-viewer > a.exit {
	display: block;
	left: 557px;
	position: absolute;
	top: 5px;
}
div.cycle-name-box {
background-color: #663399;
border: 1px solid #330066;
color: #DDDDDD;
height: 40px;
font-size: 11px;
margin-left: -11px;
border-radius: 12px;
margin-top: 9px;
width: 895px;
line-height: 38px;
}
.video-chapter-thumbs {
    clear: both;
    height: auto;
    margin: 0 -5px 5px 0;
    margin-left: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 837px;
	float: left;
}
.video-chapter-thumbs img {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
    min-height: 80px;
    min-width: 120px;
}
.video-chapter-thumbs img:hover{
   	-moz-box-shadow: 3px 3px 4px #fff;
	-webkit-box-shadow: 3px 3px 4px #fff;
	box-shadow: 3px 3px 4px #fff;
}
.video-chapter-thumbs > h3 {
  	margin: 3px;
}
textarea.diary-entry {
	min-width: 500px;
	max-width: 750px;
}
textarea.diary-entry[disabled='disabled'] {
	cursor: pointer;
}
.otca-textbox img.add {
	border: 0 none;
	margin-top: -21px;
	vertical-align: middle;
	cursor: pointer;
}
.otca-textbox img.exit {
	display: inline;
	margin-left: -20px;
	margin-top: 28px;
	cursor: pointer;
}
#confirm-message {
	background-color: #eee;
        color: #000;
	border: thin solid black;
	height: auto;
	left: 692px; /* set with jquery */
	position: absolute;
	top: 184px; /* set with jquery */
        border-radius: 1em;
        padding: 0.5em;
}
ul#emailList {
	list-style: none outside none;
	margin-left: -22px;
}
#emailList > li{
	border: thin solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	padding: 6px;
}
#emailList > li > a {
	float: right;
}
iframe#map {
			min-width: 550px;
			min-height: 400px;
			width: 750px;
			height: 500px;
}
#openLocator > strong {
	cursor: pointer;
}
.timeline div.showRadio {
	float: right; 
	font-size: 10px; 
	margin-right: 526px; 
	margin-top: 3px;
}

.big-button {
  background: none repeat scroll 0 0 #663399;
  border: thick solid #FFB510;
  border-radius: 24px 24px 24px 24px / 40px 40px 40px 40px;
  display: block;
  font-size: 18pt;
  padding: 25px;
  text-decoration: none;
  width: 350px;
}
.big-button:hover {
    background: none repeat scroll 0 0 #FFB510;
    border: thick solid #663399;
    color: #663399 !important;
}
#content-pane > p.centred {
    margin: 5em 15em;
}
div#for-educators {
  background-color: #FFB510;
  border: thin solid #EEEEEE;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF !important;
  float: right;
  height: 14px;
  margin-top: -15px;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  width: 138px;
  padding: 3px;
}
form .defaultBold {
  /*color: #EEEEEE;*/
  font-size: 11pt;
  font-weight: bold;
}
form .highlight {
  color: #639;
  font-weight: bolder;
}
#member_login_form .itempadbig {
padding: 15px;
}
#member_login_form .tableCellOne {
text-align: center;
}

div#user_system_message {
padding: 40px;
}

div#user_system_message a{
color: #EAB74D; 
}

div#for-educators:hover {
    border: 3px solid #663399;
    padding: 1px;
    font-weight: bold;
}
div#for-educators > a {
    color: #663399;
    text-decoration: none;
    margin: -3px;
    display:block;
}
table.student-list {
  background-color: #CCCCCC;
  color: black;
  margin: 32px;
  font-size: 10pt;
}
.student-list tr {
  border: 3px solid black;
}
.student-list th {
  border: 3px solid black !important;
  color: #000000 !important;
}
.student-list td {
  padding: 1em;
}
.student-list a {
  color: #663399 !important;
}
.student-list tr:nth-of-type(n+2):hover {
  background-color: #fff;
}
/* for debugging only*/
p.otca-level1 {
  border: thick solid blue;
}

p.otca-level2 {
  border: thick solid green;
}

p.otca-level3 {
  border: thick solid pink;
}
.memberlistHead {
    background-color: #663399;
    border: thin solid #FFFFFF;
    color: white;
    font-weight: bold;
    padding: 5px;
}
table#memberlist > tbody td {
  border: thin solid #444444;
  padding: 2px;
  background-color: #eee;
}
table#memberlist td a {
    color: #639;
}
.memberlistFooter {
  background: none repeat scroll 0 0 rgba(66, 66, 66, 0.7);
  padding: 32px !important;
  text-align: left;
}
.tableborder select[name="search_group_id"] {
  margin: 12px;
  padding: 2px;
}
#content-pane > form > table {
  margin-top: 10px;
}
div#system_message {
    background-color: #555555;
    border: thick solid red;
    padding: 1em;
    position: fixed;
    z-index: 10;
}
div#message_side {
  border: thin solid red;
  border-radius: 2px 2px 2px 2px;
  float: left;
  height: inherit;
  margin-left: 5px;
  padding: 5px;
  width: 185px;
  /*visibility: hidden;*/
}
.web-contact-list td, th {
     border: thin solid #eee;
     padding: 10px;			
}
.web-contact-list th {
     background-color: #639;
     color: #FFB510 !important;
}
.web-contact-list thead {
    border-bottom: medium solid #eee;
}

#close {
    position: fixed;
    left:10px;
    top:20px;
}

.help-video {
  display: block;
  float: left;
  margin-right: 3em;
}
#help-link {
  font-family: helvetica,arial,sans-serif;
  font-size: 31px;
  min-width: 7em;
  width: 96px;
}

#resource-tabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#resource-tabs ul li {
  background-color: #322A32;
  border: 3px solid #663399;
  border-radius: 0 12px 0 0;
  cursor: pointer;
  display: inline;
  float: left;
  list-style-type: none;
  margin: -10px 15px 0 0;
  padding: 8px;
}
#resource-tabs ul li h2 {
	padding: 0;
	margin: 0;
        font-size: 16px;
}
#resource-tabs ul li:hover {
	background-color: #663399;
}
#resource-tabs .icon {
	max-width: 30px;
}
#resource-tabs .selected {
	background-color: #663399;
}
.otca-tab {
  background-color: #322A32;
  border: 3px solid #663399;
  clear: both;
  overflow: hidden;
  padding: 1em;
  position: relative;
  top: -10px;
}
#resource-tabs {
  height: 55px;
  margin-bottom: -6px;
  margin-top: 2em;
}
#menu #search {
  margin: 0 -10px 16px;
  padding: 0 0 0 26px;
}
#menu #site-heading {
    margin-left: 11px;
    margin-bottom: 60px
}
.otca-tab button {
margin: 1em 1em 1em 7em;
}
#step-defs em {
    background-color: transparent;
    color: #b8e;
    padding-right: 1em;
    font-size: 11pt;
    font-weight: bolder;
}
.contrast {
    color: #0A0001;
    background-color: #A39D9D;
    padding: 1em;
    font-size: 12pt;
    border: thick solid #639;
    border-radius: 15px;
    overflow: hidden;
}
.contrast .itempad {
    font-size: 11px;
    padding-left: 12px;
}
.contrast table th {
    color: #fff;
}
div.tableHeading, div.profileHead {
    color: #fff !important;
}
#locator {
    overflow: hidden;
}
.contrast textarea {
    width: 675px;
}
.contrast a {
    color: #320B59 !important; /* changed to higher contrast on grey background */
}
.contrast h2 {
    margin: 0px 0px 21px 0px !important;
    color: #000!important;
}
.menuItem a {
    color: #ffb510 !important;
}
#objectives {
    border: thin solid #000;
    padding: 1em;
    border-radius: 15px;
}
.diary textarea {
    max-width: 654px;
}
#content-pane #timeline-container {
  font-size: 12pt;
}
/* member area */
.profileMenu {
  background-color: #322A32;
  border: thick solid #663399;
  border-radius: 15px 15px 15px 15px;
  padding: 1em;
}
.profileHead {
  font-size: 14pt;
  margin: 5px;
}
.tableborder tbody {
  border: thick solid #663399;
}
.tableborder .tableCellOne, .tableborder .tableCellTwo {
  background-color: #eee;
  border: thin solid #663399;
  color: #000000;
  padding: 1em;
}
.profileHeadingBG {
  background-color: #eeeeee;
  font-size: 14pt;
  padding: 1em;
}
.tableRowHeadingBold {
  background: none repeat scroll 0 0 #777777;
  font-weight: bold;
  padding: 1em;
}
.open-panel li {
  background-color: #DDDDDD;
  border-radius: 1em 1em 1em 1em;
  list-style: none outside none;
  margin: 0 -37px 0.2em;
  max-width: 740px;
  padding: 1em;
}
ul.cycles {
list-style: none outside none;
margin: 0;
padding: 0;
width: 500px;
}
ul.cycles li {
    border: none;
    height: 45px;
    margin: 1px;
}
ul.cycles .cur-cl /* current cycle */ {
width: 480px;
/*border: thin solid black;*/
height: 32px;
padding: 5px;
color: #000000 !important;
font-weight: 900;
}

ul.cycles .cl {
width: 480px;
/*border: thin solid black;*/
height: 32px;
padding: 5px;
}
ul.cycles .cl:hover {
  background-color: #BC6BC7 !important;
  cursor:pointer;	
}
ul.cycles a {
    color: #222222;
    text-decoration: none;
    line-height: 0px;
    display: block;
   	margin-top: 16px;
 	width: 100%;
  	height: 100%;
}
.cycles img {
margin-left: 490px;
margin-top: -82px;
cursor: pointer;
}
.paginate, .paginateCur, .paginateStat {
  display: block;
  margin: 1em;
}
.paginate > a, .paginateCur > a, .paginateStat > a {
  color: #639;
}
.open-panel li.collapsed {
height: 8px;
overflow: hidden;
border-width: 2px !important;
border-radius: 15px 15px 0px 0px !important;
}
.feedback a {
    color: #639 !important;
}
.asmSelect {
  display: inline;
  font-family: verdana,arial,sans-serif;
  font-size: 12pt;
  max-width: 30em;
}
.asmList {
    font-family: verdana,arial,sans-serif;
    font-size: 12pt;
}
.asmSelect option {
    font-family: verdana, arial, sans-serif;
    font-size: 12pt;
}
.asmSelect option[value='header'], option:nth-child(1) {
    font-family: verdana, arial, sans-serif;
    font-size: 14pt;
    /*font-style: italic;*/
    font-weight: bold;
}
.asmSelect option[value='header'].asmOptionDisabled {
    color: black;
    font-weight: bold;
}
div.cycle-name {
	display: inline;
	height: 40px;
	width: 100px;
	margin-right: 2em;
	padding: 5px;
}
a#latest-ppc {
	float: right;
	margin-right: 1.5em;
}
