
div#ot-practice-process-model {
background-image: url("../img/wheel-dyc-446px.png");
height: 446px;
width: 446px;
margin-left: 23%;
}
div.dyc-step {
    position: relative;
    visibility: hidden;
}
.dyc-step p {
    color: black;
    font-size: 12pt;
    position: relative;
    text-align: center;
}
#dyc-step1 p {
    left: -10px;
    top: 29px;
}
.dyc-step1-emerging {
    background-image: url("../img/step1-dyc-shadedE.png");
}
div#dyc-step1 {
    height: 122px;
    left: 225px;
    top: 16px;
    width: 162px;
}
#dyc-step2 p {
    left: -10px;
    top: 29px;
}
.dyc-step2-emerging {
    background-image: url("../img/step2-dyc-shadedE.png");
}
div#dyc-step2 {
    height: 167px;
    left: 330px;
    top: -25px;
    width: 101px;
}
#dyc-step3 p {
    left: -10px;
    top: 29px;
}
.dyc-step3-emerging {
    background-image: url("../img/step3-dyc-shadedE.png");
}
div#dyc-step3 {
    height: 151px;
    left: 295px;
    top: -42px;
    width: 132px;
}
#dyc-step4 p {
    left: -10px;
    top: 29px;
}
.dyc-step4-emerging {
    background-image: url("../img/step4-dyc-shadedE.png");
}
div#dyc-step4 {
    height: 90px;
    left: 123px;
    top: -100px;
    width: 211px;
}
#dyc-step5 p {
    left: -10px;
    top: 29px;
}
.dyc-step5-emerging {
    background-image: url("../img/step5-dyc-shadedE.png");
}
div#dyc-step5 {
    height: 158px;
    left: 20px;
    top: -285px;
    width: 139px;
}
#dyc-step6 p {
    left: -10px;
    top: 29px;
}
.dyc-step6-emerging {
    background-image: url("../img/step6-dyc-shadedE.png");
}
div#dyc-step6 {
    height: 166px;
    left: 17px;
    top: -595px;
    width: 102px;
}
#dyc-step7 p {
    left: -10px;
    top: 29px;	
}
.dyc-step7-emerging {
    background-image: url("../img/step7-dyc-shadedE.png");
}
div#dyc-step7 {
    height: 120px;
    left: 65px;
    top: -838px;
    width: 158px;
}
#ot-practice-process-model > div#text-step1 {
    left: 229px;
    top: -919px;
    width: 10em;
}
#ot-practice-process-model > div#text-step2 {
    left: 317px;
    top: -834px;
    width: 10em;
}
#ot-practice-process-model > div#text-step3 {
    left: 301px;
    top: -751px;
    width: 10em;
}
#ot-practice-process-model > div#text-step4 {
    left: 154px;
    top: -717px;
    width: 10em;
}
#ot-practice-process-model > div#text-step5 {
    left: 0;
    top: -834px;
    width: 10em;
}
#ot-practice-process-model > div#text-step6 {
    left: 0;
    top: -1000px;
    width: 10em;
}
#ot-practice-process-model > div#text-step7 {
    left: 75px;
    top: -1124px;
    width: 10em;
}
#ot-practice-process-model > div#text-step8 {
  left: 112px;
  top: -980px;
  width: 16em;
}
.unfocus {
    background-color: #CCCCCC;
    opacity: 0.5;
}
#ot-practice-process-model > div.dyc-text {
    border: thin solid black;
    border-radius: 3px 3px 3px 3px;
    color: black;
    padding: 2px;
    position: relative;
    text-align: center;
}
#ot-practice-process-model > div.dyc-text:hover {
	background-color: #EAB74D;
	cursor: pointer;
}
