<p>Step 6: Intervention - just a general quiz</p>

<p>
You have been asked to provide therapy regarding a particular condition where you do not have experience. You would:
1. Read up on journals and text book of how to treat the conditions before providing therapy
2. Proceed to provide therapy and hope everything will be alright
3. Inform your supervisor before proceeding to provide therapy just in case something went wrong
4. refer the client to another therapist who has the skills to provide therapy
5. Tell the client that you are not currently skilled to provide treatment on this particular condition and will seek practical skills development to ensure that you are competent for future referrals

Please choose one of the following answers above.

ANSWER:

1. Incorrect. This will help you to understand the condition and the appropriate therapy to be provided but does not allow you to have the practical skills to proceed.
2. Incorrect. You do not know what therapy is needed and you may do harm to the client.
3. Incorrect. Inform your supervisor does not absolve you wrongful actions if you proceed without knowing what you are doing
4. Correct. As there is not time at present for you to develop immediate skills to treat this client. It is appropriate to refer this client to one of your colleagues who has the skills to provide treatment. This will ensure the best outcome for this client.
5. Incorrect. It is important that you seek practical training for future referrals but you must refer this client on for treatment by other therapists as it is not clinically appropriate that the client do not receive any treatment.
</p>