<p>Step 7: Evaluation - just a general quiz or another quiz on Code of Conduct</p>

<p>
Mrs X has been referred to you following an AKA of both legs as a result of a motor vehicle accident. She was also diagnosed with a mild TBI. She works as a lecturer at university. She lives alone and has no close relative within the town that she is currently working. You are asked to provide appropriate occupational therapy interventions to this patient in an inpatient rehabilitation unit with a view of her returning to her home and previous working role. What are the key outcome indicators that would allow you to determined that Mrs X is ready to return home?

ANSWER:
Mobilises independently in the home using her temporary prostheses and wheelchair
Mobilises independently outside the home with our without support using wheelchair or prostheses
Able to get in and out of motor vehicle such as taxi
Ready for outpatient therapy and ability to attend
Referrals to other external agencies are completed such as work rehabilitation services and social services
Social support services has been organised such as home cleaning, laundry services, shopping 
Able to perform ADLs tasks including self-care, basic cooking
Ability to manage higher cognitive function activities such as banking, paying bills, negotiate with employer, etc

</p>