<p>This page to be automated</p>
<p>
Step 5: Goal Setting - a quiz on writing occupational-focused goals

When setting goals for group therapy, you would:
1. Set agreed group goals but also ensure that each client has individual goals which focus on their particular issues
2. Set group goals only as you won’t have the time to set individual goals
3. Only have individual goals as each client need to progress at their own pace in the group and group goals will interfere with the individual progress 
4. Not to set any goals as this may lead to comparison of between clients and this could hinder therapy progress

Please choose one of the following answers above

ANSWER:
1. Correct. It is important to have group goals as this will help to set direction for the group and this will help group members to support each other. Individual goals will assist in addressing particular needs that each person may have, thus enhancing the outcome for those participating in the group.
2. Incorrect. Group goals are very important but this only address part of the needs of clients who attend the group. There may be individual goals that also need to be considered.
3. Incorrect. Individual goals are important as this will help to address the needs of each person attending but having only individual goals only will create fragmentation and defeat the purpose of group therapy. Group goals must also be developed.

4. Incorrect. Setting goals are essential as this will allow the clients to focus on progress and outcome. One cannot measure success without setting goals. 
</p>