<?php
$member_id = $this->EE->session->userdata('member_id');

$sql = "SELECT * FROM (select `data`.`entry_id`, `data`.`field_id_6` as `self_assessment`, av.matrix_ids as supervisor_assessment, av.date_assessed, ev.filename FROM `exp_channel_data` `data` LEFT JOIN (exp_channel_titles title , otca_evidence ev, otca_evidence_validated av) ON (data.entry_id = ev.entry_id AND title.entry_id = ev.entry_id AND ev.entry_id = av.evidence_id) WHERE title.author_id = '2' order by data.entry_id, av.date_assessed desc) ua GROUP BY ua.entry_id";

$comparison_query = $this->EE->db->query($sql);
echo "[";
$i = 0;
if ($comparison_query->num_rows() > 0)
{
    foreach($comparison_query->result_array() as $row)
    {	
	if($i++ > 0) { $sep = ","; } else { $sep = ""; }
		echo $sep.$row['self_assessment'].","."{ \"filename\" : \"".$row['filename']."\"}";		
    }
}
echo "]";

?>