<?php
$member_id = $this->EE->session->userdata('member_id');
if(!isset($member_id) || $member_id == 0) return;

$query = $this->EE->db->query("SELECT a.`id`, a.`title`, a.`time`, (a.`id` = b.`history_id`) is_current FROM `otca_user_status_history` a, `otca_user_status` b WHERE a.`member_id` = b.`member_id` AND a.`member_id` = '2'");
if ($query->num_rows() > 0)
{
	$result_array = array();
	
	foreach($query->result_array() as $row) 
	{
		$user_time = $this->EE->localize->set_localized_time($row['time']);
		$result = new stdClass();
		$result->id = $row['id'];
		$result->title = $row['title'];
		$result->time = date('j F Y h:i:s A', $user_time);
                $result->is_current = $row['is_current'];
		$result_array[] = $result;	
	}
	
	$json = json_encode($result_array);
	echo $json;
} 
?>