<?php
$member_id = $this->EE->session->userdata('member_id');
if($member_id == 0) return;

$hidden = $this->EE->input->post('hidden');
$entry_id = $this->EE->input->post('entry_id');
$group_type = $this->EE->input->post('group_type');

if(empty($group_type)) {
    $sql = "UPDATE `otca_diary` SET `hidden`='$hidden' WHERE `entry_id`='$entry_id'";
} else {
    $sql = "SELECT `current_practice_cycle` FROM `otca_diary` WHERE `entry_id`='$entry_id'";
    $query =  ee()->db->query($sql);
    
    $cycle = 0;
    if ($query->num_rows() > 0)
    {
        foreach($query->result_array() as $row)  
        {
            $cycle = $row['current_practice_cycle'];
        }
    }
    
    $sql = "UPDATE `otca_diary` SET `hidden`='$hidden' 
            WHERE `tag` LIKE '%$group_type%' AND `current_practice_cycle`='$cycle'";
}
$query = ee()->db->query($sql);

$irows = $this->EE->db->affected_rows();

echo "{ \"message\" : \"$irows affected rows\" }";
?>