<h2>Level: <span id='level'></span></h2>
<h4>Steps: <span id='steps'></span></h4>
  <table border="1" cellpadding="8" cellspacing="0" class='learning-contract'> 
<tbody>
<tr valign="TOP"> 
<th><p><strong>Occupational Therapy Practice Process <b>STEP</b></strong></th>
<th title='What do you want to learn/develop or achieve during this placement?'><p><b>Learning Objective</b></p></th>
<th title='Competency statements for this objective, drawn from the OT Competency Evidencing Matrix (OTCEM).'><p><b>Matrix (OTCEM) Competency Statements</b></p></th>
<th title='PRACSOT Performance Criteria'><p><b>PRACSOT Performance Criteria</b></p></th>
<th title='Plan how you will meet this learning objective.'><p><b>Plan</b></p></th>
</tr>

</tbody>
</table>