<?php
$member_id = $this->EE->session->userdata('member_id');
if($member_id == 0) return;
$group_id = $this->EE->session->userdata('group_id');
if($group_id != 1 && $group_id != 6 && $group_id != 7) return;

$evidence_id = $this->EE->input->post('evidence_id');
$matrix_ids_JSON = $this->EE->input->post('criteria');
$feedback = mysql_real_escape_string($this->EE->input->post('feedback'));

$sql = "INSERT INTO `otca_evidence_validated` (`evidence_id`, `assessor_id`, `matrix_ids`, `feedback`, `date_assessed`)
        VALUES ('$evidence_id', '$member_id', '$matrix_ids_JSON', '$feedback', UNIX_TIMESTAMP());";

$query = $this->EE->db->query($sql);

$sql = "UPDATE `otca_evidence` SET `last_assessed`= UNIX_TIMESTAMP() WHERE `entry_id` = '$evidence_id'";
$query = $this->EE->db->query($sql);

$rowsAffected = $this->EE->db->affected_rows();
echo "{ \"message\": \"Rows affected: $rowsAffected\" }";
?>