<script>
$(document).ready(function(){ 

{exp:user_status:get_top_js}
{exp:user_status:restore}

window.purple = '#852C8A';
window.yellow = '#FFB510';
window.allItems = [];

if(!window.guest) {
	window.emptyUserProfile = {	
			"reflections" : {},
			"startNewCycle" : false,
			"steps" : [],
			"level" : 0,
			"beginner" : true,
			"objectives" : [],
			"history_id" : 0,
			"title" : "",
			"time" : 0
	};
        
        window.stepDefinitions = [ "null", "Request for Service", "Information Gathering", "Occupational Assessment", "Identification of Occupational Issues", "Goal Setting", "Intervention",
                                              "Evaluation", "Being a Professional"  ];          
	
	var arr;
	var firstname;
	
	if(typeof screen_name !== 'undefined' && screen_name.length > 0) {
    	arr = screen_name.split(" ");
		firstname = arr[0];
	
	    if((firstname.substr(0, firstname.length-1)).toUpperCase() == 'S') 
			firstname = firstname + "'";
	    else 
            firstname = firstname + "'s";	
            
        $("body #firstname").text(firstname);	
	}
	       
		$(".cycle-toolbar").hover(
			function() {
			if($(this).height() <= 15) 
				$(this).animate({ height: "+"+window.toolbarHeightChange }, 500);
			}, 
			function() {
			if($(this).height() >= window.toolbarMaxHeight)	
				$(this).animate({ height: "-"+window.toolbarHeightChange }, 500);
			}
		);
		
		if($(".ajax-loader").length == 0) {
			$('body').append("<div class='ajax-loader' id='ajax-loader' style='display: none;'><p id='message' style='color: #FFB510;'><strong>Please wait...</strong></p></div>");
		}
		if($("#dialog-box").length == 0) {
			console.log("added global viewer");
			$('body').append("<div class='global_file-viewer' id='dialog-box' style='display: none'><a href='#close' class='exit'><img src='/img/close-icon.png' alt='close'></a><span id='content'></span></div>");
		}
		
/*assign group colours per cycle*/
var groupColors = ["10f2b9", "aaffaa", "4f81bc", "f2f75d", "ed4ec8", "102cb7", "ad0f0f"];
var colorIndex = 0;
if(typeof cycleNames !== 'undefined') {
	window.cycleGroups = new Array(cycleNames.length); // cycle names is output by the EE user_status plugin

	$(cycleNames).each(function(ci, cv) {
		cycleGroups[ci] = { id: cv.id, 
							gradient: new Rainbow(), 
							uids: [], 
							name: cv.title, 
							time: Number(cv.time),
							baseColor: "",
							containsId: function(id) {
								return this.uids.indexOf(Number(id)) > -1;
							}
		};
	});
}

/* invertColor - http://stackoverflow.com/questions/9600295/automatically-change-text-color-to-assure-readability */
function invertColor(hexTripletColor) {
    var color = hexTripletColor;
    color = color.substring(1);           // remove #
    color = parseInt(color, 16);          // convert to integer
    color = 0xFFFFFF ^ color;             // invert three bytes
    color = color.toString(16);           // convert to hex
    color = ("000000" + color).slice(-6); // pad with leading zeros
    color = "#" + color;                  // prepend #
    return color;
}

window.getGroupColor = function(group_id) {
	var ro;
	$(cycleGroups).each(function() {
		if(Number(this.id) == Number(group_id)) {
			ro = { "styling" : {"background-color" : "#"+this.baseColor, "color": invertColor(this.baseColor)} };
			return false;
		}
	});
	return ro;
};

window.getGroupColorForEntry = function(id) {
		var ro;
	$(cycleGroups).each(function() {
		if(this.containsId(id)) {
			ro = { "styling" : {"background-color" : "#"+this.baseColor, "color": invertColor(this.baseColor)} , "group_id" : this.id};
			return false;
		}
	});
	return ro;
	};  
	
	window.getNextGroupTime = function(history_id) {
		var myTime = 0;
			$(cycleGroups).each(function(i,v) {
				if(Number(this.id) == Number(history_id)) { 
					if(typeof cycleGroups[i-1] !== 'undefined') {
						myTime = cycleGroups[i-1].time;
						return false; 	
					}
				}
			});
		return myTime = (typeof myTime === 'undefined' || myTime == 0) ? 99999999999999 : myTime; 
	};

if(typeof self_assessed_item !== 'undefined') {
	allItems = allItems.concat(self_assessed_item);
}
if(typeof assessed_items !== 'undefined') {
	allItems = allItems.concat(assessed_items);	
}

allItems.sort(function(a, b) {
	return b.time - a.time;
});

if(typeof userProfile !== 'undefined' 
&& typeof cycleGroups !== 'undefined' &&
typeof cycleGroups[0] !== 'undefined') {
var latestPPCLink = "";
		
		if(typeof cycleGroups !== 'undefined' && userProfile.history_id != cycleGroups[0].id) {
				latestPPCLink = "&nbsp;&nbsp;&nbsp;&nbsp;<a class='cl' id='latest-ppc' href='#'>Show Latest PPC</a>";
		}
	
    	$('div.cycle-name-box').append("<div class='cycle-name'>"+(window.userProfile.title.length === 0 ?'Unnamed' : window.userProfile.title) + "</div><strong>Date created:</strong> " + cycleCreated + latestPPCLink);


var ids_used = [];
$(cycleGroups).each(function(ci, cv) {
		
		$(allItems).each(function(i,v){
			var nid = Number(v.entry_id);
		
			if(Number(cv.time) < Number(v.time)) {
				if(cv.uids.indexOf(nid) == -1 && ids_used.indexOf(nid) == -1) {
					cv.uids.push(nid); 
					ids_used.push(nid);
				}		
			} 
		});
		
		if(typeof groupColors[colorIndex] !== 'undefined') {
			cv.baseColor = groupColors[colorIndex];
			cv.gradient.setSpectrum("#"+groupColors[colorIndex], 'white');
		} else {
			cv.baseColor = 'inherit';
		}
		
		if(cv.id == window.userProfile.history_id) {
			var textColor = invertColor(groupColors[colorIndex]);
			$('div.cycle-name').css({'background-color' :  "#"+groupColors[colorIndex], "color": textColor	 });
		}	
	
		if(cv.uids.length > 0) {
					cv.gradient.setNumberRange(1, cv.uids.length+1);
		}
		colorIndex = colorIndex < groupColors.length ? colorIndex + 1 : 0;
		});
	
		if(typeof cycleGroups[0] !== 'undefined') {
			$("a#latest-ppc").attr('href', '/ajax/restore-user-status?id='+cycleGroups[0].id);
		}
}
		$(document).on('click', 'div#dialog-box a.exit', function(e) {
				e.preventDefault();
				$('div#dialog-box > span#content').html('');
				$('div#dialog-box').hide(100);
		}).on('click', 'a.cl, .cl > a', function(e) {
			e.preventDefault();
			$('.ajax-loader').show(500);
			var href;
			if($('a', this).length == 0) {
				href = $(this).attr('href');
			} else {
				href = $('a', this).attr('href');
			}
			$.get(href, function(data) {
				// userprofile restored from database and refreshed to js scope using refresh	
				window.location.reload();
			});
		});
		
		// save and create new practice cycle
		$('.cycle-toolbar a#save').click(function(e){
			e.preventDefault();
				
			if(confirm("This will begin a new Practice Placement Cycle (PPC).  If you choose 'OK' and you want to revert to a previous cycle later, you can restore that PPC by selecting 'Manage Practice Placement Cycle' in the toolbar.\n\n Continue?")) {
				window.userProfile = window.emptyUserProfile;
				$.checkHistoryID(function() {
					window.location.reload();
				});
			}
		});
		
		$('.cycle-toolbar a#restore').click(function(e) {
			e.preventDefault();
			$('div#dialog-box > span#content').append("<h2>Restore a previous Practice Placement Cycle (PPC)</h2><ul class=cycles></ul>");
			$("div#dialog-box > a.exit").css({left: "539px"});
			$.get('/ajax/get-user-status-history', function(data) {
				var str = $('div#dialog-box #content ul.cycles');
				//var str = $("<ul><li>You don't have any saved practice cycles yet.</li></ul>");
				if(typeof data != 'undefined' && data.length > 0) {
				var json = JSON.parse(data);
				$('div#dialog-box ul').html('');
				$.each(json, function(i, v) {
						//if(i==0) str = $("<ul></ul>"); // reset str
						var gColor = window.getGroupColor(v.id);
						var styling;
						if(typeof gColor !== 'undefined') {
							styling = gColor.styling;
						}
						var li;
						if (v.is_current == 0) {
							li = $("<li class='cl'><a href=/ajax/restore-user-status?id=" + v.id + ">"+ v.title + " &ndash; (" + v.time + ")</a><img alt=\"delete\" src=\"/img/close-icon.png\" id='deleteCycle' data-id='"+v.id+"'></li>");		
						} else {
							li = $("<li class='cur-cl'>CYCLE SHOWN &ndash;  "+v.title + " &ndash; (" + v.time + ")</li>");		
						}
						if(typeof styling !== 'undefined') {
							$(li).css(styling);
						}
						$(str).append(li);
				});		
				}	
				//$('div#dialog-box').append(str);
				$('div#dialog-box').show(100);
			});
});
		
		$(document).on("click", "#deleteCycle", function(e) {
			e.preventDefault();
			
			var confirmed = confirm("Are you sure, this will delete this cycle and all learning contracts associated with it?");
			
			if(confirmed == true) {
			var id = $(e.target).data('id');
				if(typeof confirmed != 'undefined' && confirmed == 1) {
					if(typeof id !== 'undefined') {
						$.get('/ajax/remove-practice-cycle?id='+id, function(data) {
							console.log("cycle deleted");
							$("#dialog-box > span#content").html("");
							$('.cycle-toolbar a#restore').trigger('click');
						});
					}
				}
			}
		});
	
	/* tabs for resources */
	$("#resource-tabs li").click(function() {
				$("#resource-tabs li").removeClass("selected");
				$(this).addClass('selected');
				var index = $(this).index();

				$(".otca-tab").each(function(i, v) {
					if(i == index) {
						$(v).show();
					} else {
						$(v).hide();
					}
				});

			});
};

$(document).ready(function() {
	$('#moreInfo').hide();
	
		$('a#clickInfo').click(function(e) {
			e.preventDefault();
			if($('#moreInfo').is(':hidden')) {
				$(this).text("Read less...");
				$('#moreInfo').show(500);
			} else {
				$(this).text("Read more...");
				$('#moreInfo').hide(500);
			}
		});
	});
});
</script>
			

		