{content_pane_end}
{uni_logos}  

{content_end}

  <!-- JavaScript at the bottom for fast page loading -->

<!-- functions to compensate for missing indexOf() and trim() in some older IE versions (<9) -->
<!--[if (IE) & (lt IE 9)]>
	<script src='/js/ltie9-js-overrides.js' type='text/javascript'></script>
<script type='text/javascript'>
	if (!window.console) console = {log: function() {}};
</script>
<![endif]-->

<script type='text/javascript'>
/* resolve console logging issues in IE by Liam Newmarch - http://stackoverflow.com/users/163142/liam-newmarch
 */
	if (!window.console) (function() {

    var __console, Console;

    Console = function() {
        var check = setInterval(function() {
            var f;
            if (window.console && console.log && !console.__buffer) {
                clearInterval(check);
                f = (Function.prototype.bind) ? Function.prototype.bind.call(console.log, console) : console.log;
                for (var i = 0; i < __console.__buffer.length; i++) f.apply(console, __console.__buffer[i]);
            }
        }, 1000); 

        function log() {
            this.__buffer.push(arguments);
        }

        this.log = log;
        this.error = log;
        this.warn = log;
        this.info = log;
        this.__buffer = [];
    };

    __console = window.console = new Console();
})();
</script>
<!-- end older IE 9 functions -->
<script src="/js/libs/jquery.hoverIntent.minified.js"></script> 
<script src="/js/libs/superfish.js"></script>

<!-- User friendly multiple select boxes -->
<script src='/js/jquery.asmselect.js'></script>
<!-- AJAX form submission -->
<script src='/js/libs/jquery.form.js'></script>
<!-- auto resize textareas -->
<script src='/js/libs/jquery.autosize-min.js'></script>
<!-- generates unique IDs for OTCEM jquery table lookups -->
<script src='/js/libs/jquery.addIDs.js'></script>
<script src='/js/libs/jquery.tubeplayer.min.js'></script>
<!-- gradient library for cycle colours -->
<script src="/js/rainbow-vis.js"></script>
{if logged_in}
<script src='/structure/criteria-loader-jq-plugin'></script>
{/if}
{if embed:js_library}
<script type='text/javascript' src="/js/{embed:js_library}"></script>
{/if}

{embed='/structure/core_javascript'}

{if embed:external_js_uri}
	<script src="{embed:external_js_uri}"></script>
{/if}

{if embed:js_file}
		<script type='text/javascript' src="/js/{embed:js_file}"></script>
{/if}

{if embed:login_required == 'true'}
	{if logged_out}
		<script type='text/javascript' src="/js/register-message.js"></script>
	{/if}
{/if}

{embed='/system/loop11_js'}

{if embed:js_command}
<script>
$(document).ready(function() {
		{embed:js_command}
});
</script>
{/if}
	<script>
	$(document).ready(function() {
		//alert(navigator.userAgent);
		$("ul.sf-menu").superfish({ 
		            animation: {height:'show'},   // slide-down effect without fade-in 
		            delay:     1200               // 1.2 second delay on mouseout 
		});
	
		$("#system_message").slideDown();
		
		if(typeof criteriaLoader === 'function') {
			$("#traffic-light-set").criteriaLoader();  // only call if user logged in
		}
		
		$("#system_message").click(
			function() { $(me).slideUp(1000);  }
		);
		
		var viewer = "<div class='global_file-viewer' id='ie-message' style='font-family: arial, verdana, sans-serif;\
				font-size: 12pt'>\
				<p>\
				It appears you have Internet Explorer set to compatibility mode.<br><br>\
				Press <b>ALT-T</b>, then click <b>Compatibility View Settings</b>,<br><br> then <strong>UN-CHECK:</strong><br><br>\
				<b>Display intranet sites in compatibility view</b> <br><br><b>AND</b><br><br>\
				<b>Display all websites in compatiblity view</b><br><br>\
				<p>After you have done this, <a href='#' id='refresh'>click here to refresh</a></p>\
			</div>";
		console.log(navigator.userAgent);
		if(typeof document.documentMode !== 'undefined') {
			if(document.documentMode < 8) {
				$("body").append(viewer);
				$("#ie-message").show(100);
			}
		}

		$(document).on('click', '#refresh', function(e) {
			e.preventDefault();
			window.location.reload();
		});
	});
	</script>


{js_analytics}
{end_body_and_html}
