.DS_Store

#cache file for Ant build
./cache.properties
#project file for Eclipse
./.project 

# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
