{embed="structure/header" use_ot_evidencing_css='yes'}


{if segment_3 == 'overview'}
<h1>Cumulative Overview of Your Self-Assessed OTCEM</h1>
<h3>Read only version</h3>
{if:elseif segment_3 == 'add_evidence'} 
<h1>Self-Assess Your OTCEM</h1>
{if:elseif segment_3 == 'guest'} 
<h1>THE OCCUPATIONAL THERAPY COMPETENCY EVIDENCING MATRIX (OTCEM):<br>
Self &amp; Student &amp; Practice Educator Tool for Evidencing Competence</h1>
{/if}

<div class='feedback'>
{if segment_3 == 'overview'}
	<p>
    This is a read only overview of all the OTCEM competency statements you have self-assessed (ticked) and your Practice Educators’ verification. It also
    links to a record of any supporting Documented Evidence (a description or hard/documented evidence) that you have uploaded to your ePortfolio to
    demonstrate how you achieved the ticked competency statements and to build your portfolio of evidence.
</p>
<p>
    This overview is an OTCEM summary of all your placements up to this point where you have used this website. This is a cumulative record of your achieved
    competence.
</p>
<p>
    Use the <strong>'Self-Assess Your OTCEM'</strong> option in "Your Toolbar" to self-assess your competence.
</p>
{if:elseif segment_3 == 'add_evidence'} 
	<p>
    Here you self-assess your competency by ticking the OTCEM competency statements have achieved. This will save to your ePortfolio.
</p>
<p>
    Your Practice Educator will verify your self-assessment by agreeing or disagreeing. This is Observable Evidence.
</p>
<p>
    <strong><a href='/pages/important-otcem-info' style='color: red !important'>Click here for IMPORTANT INSTRUCTIONS &amp; INFORMATION for Self-Assessing Your OTCEM
    . You MUST read this information first.</a></strong>
</p>
{/if}
{if segment_3 == 'overview' OR segment_3 == 'add_evidence'} 
Your self-assessed OTCEM competency statements are displayed below, statements highlighted in <a style='color:#161500; background-color: #FFB510;'>yellow</a> have been verified by your Practice Educator.<br>
<br><span style='color:#F7F7FB ; background-color: #852C8A'>Purple</span> indicates previously verified self-asssessments, whilst <span style='color: #F4D431; background-color:#042C6D;'>blue</span> indicates un-verified self-assessments that are awaiting verification by your Practice Educator.<br>
{/if}

{if segment_4 != ""} 
{exp:member:custom_profile_data}
<strong>Submitted by: {first_name} {last_name}</strong><br>
<strong>Student Number: {student_number}</strong>
<br>
<strong style='font-size: 14px'>Title: {segment_4}</strong><br>
<strong style='font-size: 12px'>Level: {segment_5}</strong><br>
<strong style='font-size: 12px'>Step: {segment_6}</strong><br>
{/exp:member:custom_profile_data}
{/if}

{if segment_3 == 'guest'}
<p>
The OTCEM competency statements are mapped to the Australian Minimum Competency Standards for New Graduate Occupational Therapists (ACSOT) Occupational Therapy Australia, 2010.  
</p>
<p>
They have been mapped and directly linked within the website to the Performance Record for the Australian Competency Standards for Occupational Therapists (PRACSOT) Occupational Therapy Australia, 2010. 
</p>
<p>
	Students can use the OTCEM to self-assess and evidence their developing competence.  Practice Educators use
	the OTCEM to verify the student's self-assessment.
</p>
<p>
Once your competency evidenced within the OTCA Website OTCEM is verified by your practice educator and/or lecturer, they will be automatically be tick-off against the relevant PRACSOT performance criteria at the appropriate Competency Development Level: Emerging, Consolidating and Competent to Graduate.
</p>
<p>
For the purpose of this competency website, and with the permission of OTA, the PRACSOT 'Demonstrated Competence' categories have been amended to reflect the 3 Competency Development Levels.
</p>
<p>If you wish to trial the OTCEM competency matrix please contact 
	<a href='mailto:enquiries@otca.net.au'>enquiries@otca.net.au</a> and we can setup a 
	demonstration account for you.</p>
{/if}

<p>
    <a href="https://otca.net.au/pages/evidencing-matrix">More information about the OTCEM.</a>
</p>
</div>
		<div class='evidencing-app'>
			{exp:channel:entries channel="evidencing_matrix" limit="10" orderby="title" sort="asc" dynamic="no"}
				<p>{text_body}</p>
			{/exp:channel:entries}	
		</div>
<br />

{embed="structure/footer" login_required='false'}

{exp:matrix:studentjavascript 
	id='{segment_3}' 
	jquery-selector='.evidencing-app'
	legend-title='Self-Assessment/Verification Legend'
	legend-current='Current Verified Competencies'
	legend-previous='Previously Verified Competencies'
	legend-waiting='Self-Assessed Competencies Awaiting Verification'
	unverified-competency-statement-link="View Unverified OTCEM Self-Assessment"
	verified-competency-statement-link="View Previously Verified OTCEM Self-Assessment"
	legend-colors="FFB510,852C8A,042C6D"
	text-contrast-colors= "161500,F7F7FB,FFD500"
	step-label='View the OTPP Step'
}
	<p>
When you tick the competency statements that you have achieved for each step that you have focused on below, a box will appear
on the left side of the page.  Use this to save and upload your OTCEM self-assessment and any supporting hard evidence/description
to your ePortfolio.
</p>
<p>
    Then get your Practice Educator to verify your self-assessment.
</p>
<p>
    You can also use the Save window to upload Documented Evidence,
    this is either a description or a piece of hard/documented evidence that supports your
    ticked self-assessment.
</p>
<p>
    <strong>
        You DO NOT have to add an individual piece of Documented Evidence (description or hard evidence) for EACH ticked competency statement. Consult the
        Course Guide/Outline for your University Occupational Therapy Course for details on how much evidence is required. Check the Important Instruction
        Information link in the box above for further information about this.
    </strong>
</p>
<p>
See further information about how to self-assess and evidence your competence using the OTCEM in the    <strong>Important Instruction Information link box</strong> above.
</p>
<p>
  	<a href="/docs/Occupational%20Therapy%20Competency%20Development%20Levels%20&%20Levels%20of%20Evidence.pdf">Levels of Evidence &amp; Types of Evidence</a>
</p> 
{/exp:matrix:studentjavascript}

