{embed="structure/header" use_ot_evidencing_css='yes' use_bootstrap='yes'}
{embed="tools/matrix2_style"}
<div class="row-fluid" style='border: 3px solid #639; border-radius: 15px;padding: 1em'>
<div class='span12'>
<h2>The Occupational Therapy Competencies Evidencing Matrix (OTCEM) <div style='float: right; margin: 10px; font-size: 12px'><a href="/pages/otcem-summary">Read more...</a></div></h2> 
<br>
<div class='span4 fixed_220w' id='portfolio_interface'>
<H2 style='font-size: 14px' title='These OTCEM self-assessment snapshots show you a cumulative record of your competency development progress.'>Your Self-Assessment Progress</H2>
<div class='list-container'>
	
</div>
</div>
<div class='span8' id='matrix_interface' style='margin-left: 228px'>
	<div class='evidencing-app' style='margin: 0; border: none'>
			{exp:channel:entries channel="evidencing_matrix" limit="10" orderby="title" sort="asc" dynamic="no"}
						<p>{text_body}</p>
			{/exp:channel:entries}	
	</div>
</div>
{if segment_4 == 'practice-placement-view'}
	<a href="/practice-placement/summary-of-your-competencies" class="button" id="continue">Continue to view your ePortfolio &gt;&gt;</a>	
{/if}

</div>
</div>

<script src="/js/libs/bootstrap.min.js"></script>

{embed="structure/footer" login_required='false'}

{exp:matrix:studentjavascript 
	id='{segment_3}' 
	jquery-selector='.evidencing-app'
	legend-title='Self-Assessment/Verification Legend'
	legend-current='Current Verified Competencies'
	legend-previous='Verified Competencies'
	legend-waiting='Self-Assessed Competencies Pending Verification'
	unverified-competency-statement-link="View Unverified OTCEM Self-Assessment"
	verified-competency-statement-link="View Previously Verified OTCEM Self-Assessment"
	legend-colors="FFB510,852C8A,042C6D"
	text-contrast-colors= "161500,F7F7FB,FFD500"
	step-label='View the OTPP Step'
}
{/exp:matrix:studentjavascript}
