{embed="structure/header" use_ot_evidencing_css='yes'}

 {if logged_out}
  	<div class='noaccess-overlay'>   
 {/if}
<h2>OTCEM Showing Ticked Competencies with Supporting Descriptive and/or Uploaded Evidence</h2>
<div class='contrast'>
<p>
	The Occupational Therapy Competency Evidencing Matrix (OTCEM) is mapped and linked to the Performance Record for the Australian Competency Standards for Occupational Therapists (PRACSOT) Occupational Therapy Australia, 2010 - <a href='/pages/otcem-information' target='_blank'>click here for more information</a></p>
	<p>
    <strong><a href='/pages/important-otcem-info'>Click here for IMPORTANT INSTRUCTIONS &amp; INFORMATION for students' Self-Assessment of the 
    	OTCEM. It is important that as an Educator you are aware of the information provided to students.</a></strong>
</p>
</div>
<div class='feedback'>
<h3>Self-Assessment Details</h3>
<strong style='font-size: 14px'>Title: {segment_5}</strong><br>
<strong style='font-size: 12px'>Level: {segment_6}</strong><br>
<strong style='font-size: 12px'>Step: {segment_7}</strong><br>
<p><strong id='submitted_by'>Submitted by: .</strong></p>
</div>
		<div class='evidencing-app'>
			{exp:channel:entries channel="evidencing_matrix" limit="10" orderby="title" sort="asc" dynamic="no"}
				<p>{text_body}</p>
			{/exp:channel:entries}	
		</div>
 {if logged_out}
  	</div>
 {/if}<br />


{embed="structure/footer" login_required='true'}

{exp:matrix_ed:educatorjavascript 
	id='add_evidence' 
	jquery-selector='.evidencing-app'
	legend-title='Self-Assessment/Verification Legend'
	legend-current='Current Verified Competencies'
	legend-previous='Previously Verified Competencies'
	legend-waiting='Self-Assessed Competencies Awaiting Verification'
	legend-colors="FFB510,852C8A,042C6D"
	text-contrast-colors= "161500,F7F7FB,FFD500"
	unverified-competency-statement-link="View Unverified OTCEM Self-Assessment"
	verified-competency-statement-link="View Previously Verified OTCEM Self-Assessment"
	step-label='View the OTPP Step'
	entry_id='{segment_3}'
	member='{segment_4}'
	sname='{segment_6}'
}
<!-- if changing this, don't forget to update the matrix in the practice-placement cycle as well !!! --->
	<p>
The student has ticked the competency statements they believe they have achieved for each step below.  
Use the box on the left to save and verify this OTCEM self-assessment and provide feedback to the student.  
This feedback will appear in the student's ePortfolio when they click on this item.
</p>
<p>
    <strong>
        Students DO NOT have to add an individual piece of Documented Evidence (description or hard evidence) for EACH ticked competency statement. Consult the
        Course Guide/Outline for your University Occupational Therapy Course for details on how much evidence is required. Check the Important Instruction
        Information link in the box above for further information about this.
    </strong>
</p>
<p>
See further information about how students self-assess and evidence their competence using the OTCEM in the 
<strong>Important Instruction Information link box</strong> above.
</p>
<p>
  	<a href="/docs/Occupational%20Therapy%20Competency%20Development%20Levels%20&%20Levels%20of%20Evidence.pdf">Levels of Evidence &amp; Types of Evidence</a>
</p> 
{/exp:matrix_ed:educatorjavascript}

