{embed="structure/header" use_ot_evidencing_css='yes'}

 {if logged_out}
  	<div class='noaccess-overlay'>   
 {/if}
<h2>OTCEM Showing Ticked Competencies with Supporting Descriptive and/or Uploaded Evidence</h2>
<div class='contrast'>
<p>
	The Occupational Therapy Competency Evidencing Matrix (OTCEM) is mapped and linked to the Performance Record for the Australian Competency Standards for Occupational Therapists (PRACSOT) Occupational Therapy Australia, 2010 - <a href='/pages/otcem-information' target='_blank'>click here for more information</a></p>
</div>
<div class='feedback'>
<strong style='font-size: 14px'>Title: {segment_5}</strong><br>
<strong style='font-size: 12px'>Level: {segment_6}</strong><br>
<strong style='font-size: 12px'>Step: {segment_7}</strong><br>
<p><strong id='submitted_by'>Submitted by: .</strong></p>
</div>
		<div class='evidencing-app'>
			{exp:channel:entries channel="evidencing_matrix" limit="10" orderby="title" sort="asc" dynamic="no"}
				<p>{text_body}</p>
			{/exp:channel:entries}	
		</div>
 {if logged_out}
  	</div>
 {/if}<br />


{embed="structure/footer" login_required='true'}

{exp:matrix:educatorjavascript 
	id='add_evidence' 
	jquery-selector='.evidencing-app'
	legend-title='Self-Assessment/Verification Legend'
	legend-current='Current Verified Competencies'
	legend-previous='Previously Verified Competencies'
	legend-waiting='Self-Assessed Competencies Awaiting Verification'
	legend-colors="FFB510,852C8A,1B66E2"
	text-contrast-colors= "161500,F7F7FB,FFD500"
	unverified-competency-statement-link="View Unverified OTCEM Self-Assessment"
	verified-competency-statement-link="View Previously Verified OTCEM Self-Assessment"
	step-label='View the OTPP Step'
	entry_id='{segment_3}'
	member='{segment_4}'
	sname='{segment_6}'
}

{/exp:matrix:educatorjavascript}

