{embed="structure/header" use_ot_evidencing_css='yes'}
 
<h1 style='font-size: 21px'>
        THE OCCUPATIONAL THERAPY COMPETENCY EVIDENCING MATRIX (OTCEM):
        <br/>
        Self &amp; Practice Educator Assessment Tool of Competence
</h1>
<div class='contrast'>
<p>
    The OTCEM competency statements are mapped to the Australian Minimum Competency Standards for New Graduate Occupational Therapists (ACSOT), Occupational
    Therapy Australia (OTA), 2010.
</p>
<p>
    They have been mapped and directly linked within the website to the Performance Record for the Australian Competency Standards for Occupational Therapists
    (PRACSOT), OTA, 2010.
</p>
<p>
    Once your competencies evidenced within the OTCA Website OTCEM
    <s>
        is
    </s>
    are verified by your Practice Educator, they will be automatically be tick-off against the relevant PRACSOT performance criteria at the appropriate
    corresponding Competency Development Level: Emerging, Consolidating and Competent to Graduate in the ePRACSOT within the website.
</p>
<p>
    For the purpose of this competency-based website, and with the permission of OTA, the PRACSOT 'Demonstrated Competence' categories have been amended to
    reflect the 3 Occupational Therapy Competency Development Levels: Emerging, Consolidating and Competent to Graduate.
</p>
<p>
		<a href='/pages/assessed-matrix/add_evidence/'>Self-Assess Your OTCEM</a>      <a href='/pages/assessed-matrix/overview'>Cumulative Overview of Your OTCEM</a>
</p>
</div> 	
	


{embed="structure/footer"}