{embed="structure/header" use_ot_evidencing_css='yes'}
<h1>How to Self-Assess &amp; Evidence Your OTCEM</h1>
<div class='contrast'>
<p>
    Here you self-assess your competence using the Occupational Therapy Competency Evidencing Matrix (OTCEM) competency statements.
</p>
<p>
    1. Read the <strong>OTCEM competency statements</strong> for each <strong>Occupational Therapy Practice Process (OTPP) step </strong>in the OTCEM. There
    are seven steps in the OTPP (eg: Step 1 Request for Service, Step 2 Information Gathering, etc) and a central section: Being A Professional. Then decide
    which <strong>Competency Development Level </strong>you are currently working at for this practice placement: Emerging, Consolidating or Competent to
    Graduate.
</p>
<p>
    When self-assessing in some placements, you might choose to work across two levels.
</p>
<p>
    You may have already completed this step at the <em>Prepare for Practice (Part 2)</em> stage of the website <em>Practice Placement Cycle</em> before
    preparing your Learning Contract.
</p>
<p>
    2. Then self-assess by ticking-off the <strong>OTCEM competency statements</strong> in each of the OTPP steps in the OTCEM that you have focused on at your
chosen level and that you have achieved during this practice placement. <u>Click SAVE </u>to upload and save to Your ePortfolio. This is    <strong>Observable Evidence</strong>.
</p>
<p>
    3. Then, ask your Practice Educator to access your ePortfolio and verify your ticked self-assessment by agreeing or disagreeing. They can also leave
    feedback in the feedback box on your verified OTCEM.
</p>
<p>
    To maximise your learning and support your competency development, it is recommended you upload a piece of <strong>Documented Evidence</strong> – either
    one description <u>or</u> one piece of hard/documented evidence for each self-assessed <strong>OTPP step</strong> that best supports your self-assessment
    to show your Practice Educator when they verify your self-assessed OTCEM.
</p>
<p>
Note: this may not be possible in some areas of practice (    <strong>See the <em><u>Levels of Evidence &amp; Types of Evidence</u></em> Pdf on the website for more information about why</strong>).
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Check your</strong>
    <strong>university occupational therapy course guide/outline for what is required.</strong>
</p>
<p>
    <strong>For example</strong>
    , University of Newcastle (UoN) students can provide <strong>one piece of Documented Evidence</strong> – either one description <u>or</u> one piece of
    hard/documented evidence for each self-assessed <strong>OTPP step</strong>. This is <strong>NOT</strong> a requirement for the UoN students’ course
    assessment. It is just to support students’ competency development. It is also very fundamental for developing your ePortfolio to prove competence and for
    continued registration beyond graduation.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>NB: You must not upload anything that breaches client confidentiality </strong>
    (<strong>See the <em><u>Levels of Evidence &amp; Types of Evidence</u></em> Pdf on the website</strong>).
</p>
<p>
    4. Decide on the most suitable description or piece of hard/documented evidence for each OTPP step. You can then upload it to “Your ePortfolio” (as per
    your course requirements).
</p>
<p>
    5. Then ask your Practice Educator to look at the description or piece of hard evidence that you have uploaded when they verify your self-assessment.
</p>
<p>
    <strong>
        You DO NOT have to add an individual piece of Documented Evidence for EACH ticked OTCEM competency statement. Consult the Course Guide/Outline for your
        university occupational therapy course, for details on how much and/or the type of Documented Evidence that is required.
    </strong>
</p>
<p>
    <a href="https://otca.net.au/pages/evidencing-matrix">More information about the OTCEM.</a>
</p>
</div>


{embed="structure/footer" login_required='true'}
