	{embed="structure/header"}
{exp:channel:entries channel="misc_static_content"}
<div class="home-layout">  
<div style="float: left; height: 215px; display: block; margin-top: -12px;">
<noscript>
<div style='border: thick solid red;
color: red;
display: block;
font-weight: bolder;
margin-bottom: 20px;
margin-top: 20px;'>
 For full functionality of this site it is necessary to enable JavaScript.
<br><a href="http://www.enable-javascript.com/" target="_blank">
How to enable JavaScript in your web browser</a>.
</div>
</noscript>
<h2 style="margin-bottom: 0; color: #ffb510; margin-left: 30px">
	{sub_heading_1} <br>
	<span style="font-size: 11pt;color:#fff">{sub_heading_2}</span>
</h2>
<br clear='all'/>	
     
{text_block_2}	 

</div>
	
{text_block_3}
	
</div>
{/exp:channel:entries}
{embed="structure/footer" external_js_uri='/js/level-defs-window.js'}