	{embed="structure/header"}

<div class="home-layout">  
<div style="float: left; height: 215px; display: block; margin-top: -12px;">
<noscript>
<div style='border: thick solid red;
color: red;
display: block;
font-weight: bolder;
margin-bottom: 20px;
margin-top: 20px;'>
 For full functionality of this site it is necessary to enable JavaScript.
<br><a href="http://www.enable-javascript.com/" target="_blank">
How to enable JavaScript in your web browser</a>.
</div>
</noscript>
<h2 style="margin-bottom: 0; color: #ffb510; margin-left: 30px">Becoming Competent to Graduate: <br><span style="font-size: 11pt;color:#fff">Achieving the 2010 Australian Minimum Competency Standards for New Graduate Occupational Therapists</span></h2>
<br clear='all'/>	
     
  <p style="text-align: center; font-size: 15pt;"><span style='color: #ffb510'>Developing and Evidencing <span id="firstname">your</span> Competencies</span><br> <span style="font-size: 12pt; font-style: italic">using the <span title='You start a new Practice Placement Cycle on this website whenever you start a new placement.'>Practice Placement Cycle</span> below</span></p>	 

</div>


	
<a href="/practice-placement/prepare-for-practice">
<div class="home-nav-box">
<div class="inner-border">

<div class="right-arrow"></div>

            <img width="220" src="/img/prepare.png" alt="Student preparing on the phone by calling his practice educator.">
            <p>1. Prepare for Practice
<br><span style="color:red">Students Start Here</span>
</p>
</div>
</div>
</a>
<a href="/practice-placement/set-your-learning-objectives">
<div class="home-nav-box">
<div class="inner-border">
<div class="right-arrow"></div>
            <img width="220" src="/img/objectives.png" alt="Two students discussing their learning objectives.">
            <p>2. Set Your Learning Objectives</p>
</div>
</div>
</a>
<a href="/practice-placement/resources-to-develop-your-competencies">    
<div class="home-nav-box">
<div class="inner-border">
<div class="down-arrow"></div>
            <img width="220" src="/img/develop.png" alt="Two students discussing learning resources">
            <p>3. Resources to Develop<br>Your Competencies</p>
</div>
</div>		
</a>
<a href="/practice-placement/self-assess-your-competencies">
<div class="home-nav-box">
<div class="inner-border">
<div class="left-arrow"></div>
            <img width="220" src="/img/self-assess.png" alt="Two students reading papers and looking studious.">
            <p>6. Think about this Practice Placement Cycle &amp; Plan for Your Next Placement</p>
</div>
</div>

</a>
<a href="/practice-placement/summary-of-your-competencies">
<div class="home-nav-box">
<div class="inner-border">
<div class="left-arrow"></div>
		<img width="220" src="/img/summarise.png" alt="A carer with her son, both smiling.">
            
            <p>5. Your ePortfolio: A Summary<br>of Your Competencies</p>
</div>
</div>	
</a>
<a href="/practice-placement/evidence-your-competencies">
<div class="home-nav-box">
<div class="inner-border">
<div class="up-arrow"></div>

            <img width="220" src="/img/evidence.png" alt="Two smiling students">
            <p>4. Self&ndash;Assess &amp; Evidence Your Competencies<br>Using the <span title="Occupational Therapy Competency Evidencing Matrix">OTCEM</span></p>
</div>
</div>
</a>

<div id='step-defs' style="float: left; text-align: center; width: 100%; margin-top: 45px; cursor: pointer"><em>The 3 Occupational Therapy Competency Development Levels:</em>
{competency_levels}
<p style='margin-left: 275px;
width: 358px;'>{levels-of-evidence-link}</p>
	
</div>

</div>
</div>

{embed="structure/footer" external_js_uri='/js/level-defs-window.js'}