{embed="structure/header" use_my_placement_css='yes'}
<style>
h1,h2,h3 {text-align: center}
#close {
	position: relative; 
	display: inline }
</style>
<div class='contrast'>
	{exp:channel:entries channel="misc_static_content"}
<h2>{title}</h2>
<h2>{sub_heading_1}</h2>
<div style='margin-left: 215px'>
<span style="padding: 5px;" class="emerging">
            Emerging
        </span>
     <span style="padding: 5px;" class="consolidating">
        Consolidating
        </span>
    <span style="padding: 5px;" class="competent">
        Competent to Graduate
        </span>
</div><br />
<br>
<h3>{sub_heading_2}</h3>

{text_block_2}
{/exp:channel:entries}
<hr>
</div>
{embed='/structure/footer'}