{embed="structure/header" use_ot_evidencing_css='yes'}
 {if logged_out}
  	<div class='noaccess-overlay'>   
 {/if}
{if segment_3 == 'overview'}
<h2>Overview of Your Self-Assessed OTCEM</h2>
{if:elseif segment_3 == 'add_evidence'} 
<h2>Self-Assess Your OTCEM</h2>
{/if}

<div class='feedback'>
{if segment_3 == 'overview'}
	<p>This is an overview of all competency statements you have self-assessed (ticked) and any supporting evidence you have 
uploaded to your ePortfolio up to this point, from all your placements where you have used this website. This is a cumulative record 
of your achieved competence.</p>  
<p>Use the 'Self-Assess Your OTCEM' entry in the Toolbar to self-assess your competence and upload supporting evidence for each of your 
practice placements.</p>
<p>Coloured text inside the boxes indicates the competencies you have already completed or which are awaiting assessment.</p>
{if:elseif segment_3 == 'add_evidence'} 
	<p>Here you can self-assess your competency statements by ticking the ones you have achieved and upload any supporting evidence 
	to your ePortfolio.</p>
<p><strong>You DO NOT have to add an individual piece of evidence for EACH ticked competency statement. 
Consult the Course Guide/Outline for your University OT Course for details on how much evidence is required.</strong></p>
	<p>Coloured text inside the boxes indicates the competencies you have already completed or which are awaiting assessment.</p>
{if:else} 
The competency statements marked as assessed (in yellow) in the OTCEM have been completed by the evidence detailed here:
<h3>Evidence Title: <i>"{segment_4}"</i></h3>
<p><strong>Submitted by: {screen_name}.</strong></p>
<p>Note: competency statements marked in blue indicate evidence that has not yet been assessed.</p>
{/if}
<p><a href='/pages/evidencing-matrix' style='color: #639'>More information about the OTCEM and how it is used.</a></p>
</div>
		<div class='evidencing-app'>
			{exp:channel:entries channel="evidencing_matrix" limit="10" orderby="title" sort="asc" dynamic="no"}
				<p>{text_body}</p>
			{/exp:channel:entries}	
		</div>

 {if logged_out}
  	</div>
 {/if}<br />

{embed="structure/footer" login_required='true'}
<script>
{exp:matrix:studentjavascript id='{segment_3}'}
$(document).ready(function() {
	$('.evidencing-app').evidencing();
});
</script>