<!-- NOT IMPLEMENTED -->
{embed="structure/header" use_ot_evidencing_css='yes'}
 
 {if logged_out}
  	<div class='noaccess-overlay'>   
 {/if}
<h1>THE OCCUPATIONAL THERAPY COMPETENCY EVIDENCING MATRIX (OTCEM):<br>
Self &amp; Practice Educator Assessment Tool of Competence</h1>
<div class='contrast'>
<p>
The OTCEM competency statements are mapped to the Australian Minimum Competency Standards for New Graduate Occupational Therapists (ACSOT) Occupational Therapy Australia, 2010.  
</p>
<p>
They have been mapped and directly linked within the website to the Performance Record for the Australian Competency Standards for Occupational Therapists (PRACSOT) Occupational Therapy Australia, 2010. 
</p>
<p>
Once your competency evidenced within the OTCA Website OTCEM is verified by your practice educator and/or lecturer, they will be automatically be tick-off against the relevant PRACSOT performance criteria at the appropriate Competency Development Level: Emerging, Consolidating and Competent to Graduate.
</p>
<p>
For the purpose of this competency website, and with the permission of OTA, the PRACSOT 'Demonstrated Competence' categories have been amended to reflect the 3 Competency Development Levels.
</p>	
</div>
{embed="structure/footer"}