<p>By entering your location below, I will attempt to find internet access points within 5kms of your practice location.  The search includes internet cafes and public libraries.  If you would like to refine the search yourself, please visit <a href="http://maps.google.com.au">google maps</a>.</p> 
<h3>Where will you be located for your practice?</h3>

<p>Enter your prac street address or a nearby landmark:  <input id="location" name="location"><br>
	State or territory: 
	<select id="state"><option>--Select--</option><option>ACT</option><option>NSW</option><option>NT</option><option>SA</option><option>TAS</option><option>QLD</option><option>VIC</option><option>WA</option></select>	
	<button id='find'>Find</button>
</p>
<iframe id="map" src="https://maps.google.com.au/maps?q=internet+%22internet+cafe%22+OR+%22public+library%22+OR+%22wireless+internet%22+OR+%22macdonalds%22+OR+cafe+-hotel+-motel+-accomodation+loc:+34b+o'mara+st,+mayfield+east,+NSW,+Australia&amp;radius=5&amp;output=embed"></iframe>
