	<style>
h1,h2,h3 {text-align: center}
#close {
	position: relative; 
	display: inline }
</style>

<h2>OCCUPATIONAL THERAPY COMPETENCY DEVELOPMENT LEVELS</h2>

<h2>- DEFINITIONS -</h2>

<h3>PREAMBLE</h3>

<p>The following three levels have been set as marker posts in a progression towards being “Competent at Graduation”. These levels do not equate to years of study. This statement recognises that some students will be at different levels of competency for different sections of the professional practice reasoning process. The decisions depend on their previous experiences before coming into the program and what else they are doing at this present time.</p>

<p>However, even if they believe they are competent at a higher level they should still work through the lower levels to evidence their abilities.</p>

<h3 style='color: #C84242'>EMERGING COMPETENCE</h3>

<p>Applying the principles of occupation in one practice context meeting all professional standards (ethical, social, cultural, legal and moral) using beginning thinking and reasoning within the Occupational Therapy Practice Process.</p>

<h3 style='color: #FF8400'>CONSOLIDATING COMPETENCE</h3>

<p>Applying the principles of occupation in more than one practice context meeting all professional standards (ethical, social, cultural, legal and moral). Demonstrating a synthesis of knowledge, thinking and reasoning within the Occupational Therapy Practice Process.</p>

<h3 style='color: #42C842'>COMPETENT TO GRADUATE</h3>

<p>Applying the principles of occupation in any context meeting all professional standards (ethical, social, cultural, legal and moral). Demonstrating an integration and critical appraisal of knowledge, thinking and reasoning within the Occupational Therapy Practice Process.</p>

<blockquote style='font-size: 8px; font-weight: bold'>
Ryan.S, Hills. C, Nguyen.K &amp; Studdert.C (2011)<br>
Ryan.S, Hills. C, Nguyen.K, Studdert.C &amp; Sijpkes.P (Revised 2012)
</blockquote>
<hr>