<p>
When you tick the competency statements that you have achieved for each step that you have focused on below, a box will appear
on the left side of the page.  Use this to save and upload your OTCEM self-assessment and any supporting hard evidence/description
to your ePortfolio.
</p>
<p>
    Then get your Practice Educator to verify your self-assessment.
</p>
<p>
    You can also use the Save window to upload Documented Evidence,
    this is either a description or a piece of hard/documented evidence that supports your
    ticked self-assessment.
</p>
<p>
    <strong>
        You DO NOT have to add an individual piece of Documented Evidence (description or hard evidence) for EACH ticked competency statement. Consult the
        Course Guide/Outline for your University Occupational Therapy Course for details on how much evidence is required. Check the Important Instruction
        Information link in the box above for further information about this.
    </strong>
</p>
<p>
See further information about how to self-assess and evidence your competence using the OTCEM in the    <strong>Important Instruction Information link box</strong> above.
</p>
<p>
  	<a href="/docs/Occupational%20Therapy%20Competency%20Development%20Levels%20&%20Levels%20of%20Evidence.pdf">Levels of Evidence &amp; Types of Evidence</a>
</p> 