{embed="structure/header"}
{exp:channel:entries channel="partners_static_content"}	
<h1>{title}</h1>

<table class='web-contact-list contrast'>
<thead>
<tr><th>University</th><th>Contact Name</th><th>Role</th><th>Email</th><th>Phone</th></tr>
</thead>
{text_block_1}

</table>
{/exp:channel:entries}
{embed="structure/footer"}