<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/pracsot-tables.css">
	<link rel="stylesheet" type="text/css" href="/css/pracsot-contents.css">
</head>	
<body>
{if logged_in}
<h1>Personal PRACSOT Progress Report</h1>
<h2>{current_time format="%D, %F %d"}</h2>
{/if}
<p class="pracsot-main-heading">PRACSOT</p>
<p class="P79"><span class="T52">P</span><span class="T53">erformance </span><span class="T52">R</span><span class="T53">ecord for the </span><span class="T52">A</span><span class="T53">ustralian <br></span><span class="T52">C</span><span class="T53">ompetency </span><span class="T52">S</span><span class="T53">tandards for </span><span class="T52">O</span><span class="T53">ccupational </span><span class="T52">T</span><span class="T53">herapists</span></p>
