{embed="structure/header"}
<p style='font-size: 14pt; color: white; text-align: center'><em>All questionnaires are completely anonymous, your identity is not recorded.</em></p>
<p class='centred'><a class='big-button' href='https://docs.google.com/forms/d/1SZL4puA2LGRDPRTb0lHBCiLRGhORW3AHGqX5RBr1yhs/viewform'>Student Workshop Questionnaire</a></p>

<p class='centred'><a class='big-button' href='https://docs.google.com/forms/d/1AiPIJjT93acPaK9_RCO-t-wimZU9hPvY6c13ZSMG2eY/viewform'>Staff Workshop Questionnaire</a></p>
{embed="structure/footer"}