{embed="structure/header"}
<h1>Update of Your Details Required</h1>
<div class='contrast'>
<p>Our records indicate that you do not have your University, Full Name and Student Number (if applicable) registered
with us.<p><p><a href='/member/edit_profile'>Please click here to amend your details.</a></p>
                <p><em>Note that you will continue getting this message until you have completed this
                process</em></p><p>Thank you and our apologies for any inconvenience, <br><br>The OTCA Team</p>
</div>
{embed="structure/footer"}