<?php 
$r = rand(1,5);
if($r == 5) { 
// displays testing to 1 in 5 users.
if($this->EE->uri->segment(1) == "") {
?>
<script type="text/javascript">
var loop11_key = "c8ac38eb101afe88e816aa049951d07ea6767426";
var loop11_pp = [100, 17839];
var l11_host = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3cscript src='" + l11_host +"www.loop11.com/media/triton/js/embed.js' type='text/javascript'%3e%3c/script%3e"));
</script>
<?php } else { ?>
<script type="text/javascript">
var loop11_key = "c8ac38eb101afe88e816aa049951d07ea6767426";
var l11_host = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3cscript src='" + l11_host +"www.loop11.com/media/triton/js/embed.js' type='text/javascript'%3e%3c/script%3e"));
</script>
<?php } 
} 
?>
