{embed="/structure/header"}
{exp:channel:entries channel="misc_static_content"}
{if logged_in}
<h1>{sub_heading_1}</h1>
{if:else}
<h1>{sub_heading_2}</h1>
{/if}
<div class='contrast'>
{text_block_1}
</div>
{/exp:channel:entries}
{embed="/structure/footer"}
