{if logged_in}
{embed="structure/header" use_my_placement_css='yes' extra_css='{segment_2}'}
<h2>Your ePortfolio: A Summary of Your Competencies</h2>

<div class='contrast'>
	<!-- <p style='color: yellow; font-weight:bold;'>THIS PAGE IS BEING EDITED THERE MAY BE FORMATTING ISSUES WHILE VIEWING THIS PAGE.</p> -->
	<p>This page shows the history of all your evidence and diary entries so far.</p>
	<p>You can highlight evidence in colours you have agreed with you educator/s.  This will make the evidence
	appear at the top of this list when your educator/s click into your portfolio.</p>	

Show: <label for='evidence'><input id='evidence' type='checkbox' checked='checked'>Evidence</label>
<label for='diary'><input id='diary' type='checkbox' checked='checked'>Diary Entries</label>
<label for='diary'><input id='contracts' type='checkbox' checked='checked'>Learning Contracts</label>
<!-- <a style='margin-left:2em' href='/pracsot' target="_blank">Your PRACSOT Progress</a> -->
	
	<div id='timeline-container' style='width:750px; max-width:750px'>
	</div>	
	<a href="/practice-placement/self-assess-your-competencies" class="button" id="resetCycle" style="margin-top: 25px;">Self&ndash;Assess &amp; Reflect on This Practice Cycle →</a>
</div>

{embed="structure/footer"}

{exp:folio_test:studentjavascript}
{if:else}
	{redirect='/member/login'}
{/if}