{embed="tools/matrix_style"}

<div class='evidencing-app' style='margin: 0; border: none'>
	{exp:channel:entries channel="evidencing_matrix" limit="10" orderby="title" sort="asc" dynamic="no"}
				<p>{text_body}</p>
	{/exp:channel:entries}	
</div>
