{embed="structure/header"}
		<h1>Introduction to Practice Reasoning</h1>
<div class='contrast'>
			<p>Practice reasoning describes all the thought processes that go through your mind when you work as a therapist in every area of practice no matter what your level of expertise.  Your thinking should include your knowledge, skills and abilities, the expectations of the context where you are working, as well as those of the client who you work with / for.  When you analyse your thoughts and try to integrate them into forming some practice options, you may share these practice reasonings with your practice educator, your team or with your client.  Ultimately, you will narrow down your strategies to make decisions based on these thinking processes. This is all about your practice reasoning.</p>
		<img src='/img/practice-reasoning1web.png' style='float:right; width:320px; padding: 1em'/>			<p>It is important for you to be able to explain your practice reasoning to others, particularly your practice educator.  You might find you have to use different language depending on who you are explaining your practice reasoning to.  This may include your client and other team members.  If you can capture these reasonings, somehow, they are then evidence of your developing competence.</p>
			
	


<h2>The Importance of Practice Reasoning</h2>
<p>It has been well researched that there are differences between the reasoning of qualified occupational therapists who are novice graduates’ ( 0 – 2yrs) and experts’ ( 5+ years).  There is less written or researched about students and how they actually develop their practice reasoning from the beginning.  But to be Competent to Graduate you have to pass through the three different levels of competency development.  On this website we call these levels: 
	
<ol style='margin-right: 5em'>
	<li>Emerging</li>
	<li>Consolidating</li>
	<li>Competent to Graduate.</li> 
</ol>
<img src='/img/practice-reasoning2web.png' style='float:left; width:320px; padding: 1em'/> 
In all pre-registration programs, no matter their length (2 – 4 years) or their level, Bachelors or Masters, your thinking and reasoning develops as you integrate your different knowledges and gradually become “critical” about your professional practice thinking and reasoning until you are Competent to Graduate.</p>		
</div>	
{embed="structure/footer"}