{embed="structure/header"}
		<h1>Model of Practice Reasoning for Students</h1>
		<p>This model was designed to assist your cognitive appreciation of your developing Practice Reasoning.  Use it as a guide to help you explain the different facets of your thinking and reasoning.  Following this model will give you clarity when you evidence your practice decision making.</p>

		<p>The <em>Critical Evaluation and Reflection Loop</em> completes your cycle of thought and adds on another dimension to your knowledge, abilities and skills so that your practice improves. If you do not do this last step you might continue to make the same mistakes.</p>
		<p>This model is not the same as other published work which labelled different aspects of reasoning.  This model brings together the “general” aspects of your knowledge of a situation with the “particular” aspects about your client.  This model helps you to encompass the “whole” process in your explanation.</p>
		<p>The model can be used at any one step or a combination of steps in the {ot-practice-process-link}.</p>
{embed="structure/footer"}