{embed="structure/header"}
{exp:channel:entries channel="practice_resources_static_content"}
<h1>{title}</h1>

<div id="resource-tabs">
{resource_tabs}
</div>

<div class='otca-tab'>		
<h2><img src="/img/video.png" alt="Video" class="icon"> Video</h2>
<div class='video-iframe'>
{video_title}
<iframe id='video1' width="560" height="315" src="https://www.youtube.com/embed/{youtube_video_code}" frameborder="0" allowfullscreen></iframe>
</div>

<div class='video-caption-links'>
<h4>Video Related Documents</h4>
{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='12'}
        <p><a href="{file_url}"><strong>{title}</strong></a></p>
{/exp:file:entries}
</div>
<div class="video-chapter-thumbs video1">
{video_chapters}
</div>
</div>

<div class='otca-tab' style='display: none'>	
<h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2>
{exp:file:entries limit="20" paginate="both" directory_id="3" orderby="title" sort='asc' category='11'}
        <p><a href="{file_url}"><strong>{title}</strong></a></p>
{/exp:file:entries}
</div>
<div class='otca-tab' style='display: none'>	
<h2><img src="/img/web-link.png" alt="Links" class="icon">Useful Links</h2>
{useful_links}
</div>
<div class='otca-tab' style='display: none'>	
<h2><img class="icon" alt="Quiz" src="/img/quiz.png">Quiz</h2> 
{embed='quizes/generate' step='7'}
</div>
{/exp:channel:entries}
{embed="structure/footer" js_library="jquery.video-chapters.js" js_file="quiz-formatter.js"}

<script> 
$(document).ready(function() {
	$(".video-chapter-thumbs.video1").videoChapters("video1");
});
</script>