{embed="structure/header"}
<h1>Step 4 - Identification of Occupational Issues</h1>

<div id="resource-tabs">
<ul>
	<li class='selected'><h2><img class="icon" alt="Video" src="/img/video.png"> Video</h2></li>
	<li><h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2></li>
	<li><h2><img src="/img/quiz.png" alt="Quiz" class="icon">Quiz</h2></li>
</ul>
</div>	

<div class='otca-tab'>			
<h2><img src="/img/video.png" alt="Video" class="icon"> Video</h2>
<div class='video-iframe'>
<h3>STEP 4 - IDENTIFICATION OF OCCUPATIONAL ISSUES: In the Community Disability Setting - James' Story</h3>
<iframe id='video1' width="560" height="315" src="https://www.youtube.com/embed/aSv47AA5dkY" frameborder="0" allowfullscreen></iframe></div><div class='video-caption-links'>

{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='12'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class="video-chapter-thumbs video1">
 <h3>Chapters</h3>
    <a name='chapter 1' class='chapter' data-seconds='0m29s'>1. James’s Condition</a>
    <a name='chapter 2' class='chapter' data-seconds='3m40s'>2. Holidays at Breti</a>
    <a name='chapter 3' class='chapter' data-seconds='9m29s'>3. The Knights</a>	
    <a name='chapter 4' class='chapter' data-seconds='11m44s'>4. Community Activity Program</a>	
</div>


<div class='video-iframe'>
<h3>STEP 4 - IDENTIFICATION OF OCCUPATIONAL ISSUES: In the Community Disability Setting - Disability & Occupational Issues</h3>
<iframe id='video2' width="560" height="315" src="https://www.youtube.com/embed/slIibTb7ifA" frameborder="0" allowfullscreen></iframe></div><div class='video-caption-links'>
{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='12'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class="video-chapter-thumbs video2">
 <h3>Chapters</h3>
    <a name='chapter 1' class='chapter' data-seconds='0m29s'>1.Equipment Challenges</a>
    <a name='chapter 2' class='chapter' data-seconds='5m09s'>2. Occupational Limitations Related to Service and Funding Limitations</a>
    <a name='chapter 3' class='chapter' data-seconds='9m39s'>3. Social Attitudes Affecting Occupation</a>	
    <a name='chapter 4' class='chapter' data-seconds='12m55s'>4. Summary of Identifying Occupational Issues</a>	
</div>
</div>

<div class='otca-tab' style='display:none'>	
<h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2>
{exp:file:entries limit="20" paginate="both" directory_id="3" orderby="title" sort='asc' category='13'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class='otca-tab' style='display:none'>	
<h2><img class="icon" alt="Quiz" src="/img/quiz.png">Quiz</h2>
{embed="/quizes/generate" step='4'}
</div>

{embed="structure/footer" js_library="jquery.video-chapters.js" js_file="quiz-formatter.js"}

<script> 
$(document).ready(function() {
	$(".video-chapter-thumbs.video1").videoChapters("video1");
	$(".video-chapter-thumbs.video2").videoChapters("video2");
});
</script>