{embed="structure/header"}
		<h1>Step 2 - Information Gathering</h1>
			
<div id="resource-tabs">
<ul>
	<li class='selected'><h2><img class="icon" alt="Video" src="/img/video.png">Video</h2></li>
	<li><h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2></li>
	<li><h2><img src="/img/web-link.png" alt="Links" class="icon">Useful Links</h2></li>
	<li><h2><img src="/img/journal-icon30x30.png" alt="Links" class="icon">Journal Articles</h2></li>
	<li><h2><img src="/img/quiz.png" alt="Quiz" class="icon">Quiz</h2></li>
</ul>
</div>		
<div class='otca-tab'>
<h2><img src="/img/video.png" alt="Video" class="icon"> Video</h2>
<div class='video-iframe'>
<h3>STEP 2 - INFORMATION GATHERING: In the Paediatric Setting</h3>
<iframe id='video1' width="560" height="315" src="https://www.youtube.com/embed/Nvf6EIbqadk" frameborder="0" allowfullscreen></iframe></div><div class='video-caption-links'>
{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='12'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class="video-chapter-thumbs video1">
<h3>Chapters</h3>
	<a data-seconds="0m22s" class="chapter" name="chapter 1">1. Case Study</a>
 	<a data-seconds="1m28s" class="chapter" name="chapter 2">2. Processes and Preparing for the Initial Case Assessment</a>
   	<a data-seconds="5m41s" class="chapter" name="chapter 3">3. Confidentiality</a>
  	<a data-seconds="6m01s" class="chapter" name="chapter 4">4. Communication in the Paediatric Setting</a>
	<a data-seconds="6m51s" class="chapter" name="chapter 5">5. Considerations for the Assessment Appointment</a>
  	<a data-seconds="8m40s" class="chapter" name="chapter 6">6. Explaining Occupational Therapy to the Family/Client</a>
</div>
<div class='video-iframe'>
<h3>STEP 2 - INFORMATION GATHERING: In the Community Mental Health Setting</h3>
<iframe id='video2' width="560" height="315" src="https://www.youtube.com/embed/CeWKnMTv2iE" frameborder="0" allowfullscreen></iframe></div>
<div class='video-caption-links'>
{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='12'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>

<div class="video-chapter-thumbs video2">
<h3>Chapters</h3>
<a data-seconds="0m59s" class="chapter" name="chapter 1">1. The General Information Gathering Process in this Setting</a>
<a data-seconds="2m25s" class="chapter" name="chapter 2">2. Formal Information Gathering – Background Information</a>
<a data-seconds="4m14s" class="chapter" name="chapter 3">3. Medications</a>
<a data-seconds="5m06s" class="chapter" name="chapter 4">4. The Person’s History of Living with the Disorder/s and Contacting the their GP and Other Services</a>
<a data-seconds="7m20s" class="chapter" name="chapter 5">5. Cultural Background</a>
<a data-seconds="9m38s" class="chapter" name="chapter 6">6. The Mental Health Act</a>
<a data-seconds="10m27s" class="chapter" name="chapter 7">7. Framework to Guide Your Information Gathering</a>
<a data-seconds="12m40s" class="chapter" name="chapter 8">8. Preparing for Step 3 – Occupational Assessment</a> 
</div> 

</div>

<div class='otca-tab' style='display:none'>
<h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2>
{exp:file:entries limit="20" paginate="both" directory_id="3" orderby="title" sort='asc' category='7'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class='otca-tab' style='display:none'>
<h2><img src="/img/web-link.png" alt="Links" class="icon">Useful Links</h2>
<p><strong>Cultural safety training: working better in Aboriginal and Torres Strait Islander health</strong></p>

<p><a href="http://culturalsafetytraining.com.au/">http://culturalsafetytraining.com.au/</a> </p>

<p><strong>SARRAH (Services for Australian and Rural and Remote Allied Heatlh): Education and training for rural and remote allied health professionals</strong></p>

<p><a href="http://www.sarrahtraining.com.au/site/index.cfm?display=143690">http://www.sarrahtraining.com.au/site/index.cfm?display=143690</a></p>

<p>Includes a link to an online training module and further resources</p>

<p><b>Mental Health 4 Occupational Therapists Website</b></p>

<p><a href="http://mh4ot.com/">http://mh4ot.com/</a></p>

<p><b>World Health Organisation (WHO) YouTube Video about Mental Health: Depression</b></p>

<p>This video about depression is on the front page of the WHO YouTube channel.</p>

<p><a href="http://www.youtube.com/who">http://www.youtube.com/who</a></p>

<p><b>World Health Organisation (WHO) YouTube Videos on Disability: ‘What’s Disability to Me?’</b></p>

<p><a href="http://www.youtube.com/who">http://www.youtube.com/who</a></p>

<p>Follow this link and type ‘What’s Disability to Me?’ into the channel search bar to see a range of videos with individual stories about disability. You can follow the links below to see some of these stories.</p>

<p>‘What’s Disability to Me? Rachael’s Story’</p>

<p><a href="http://www.youtube.com/watch?v=nwBzb7m2n64">http://www.youtube.com/watch?v=nwBzb7m2n64</a></p>

<p>‘What’s Disability to Me? Mia’s Story’</p>

<p><a href="http://www.youtube.com/watch?v=E_2ZEwhh9WQ">http://www.youtube.com/watch?v=E_2ZEwhh9WQ</a></p>

<p>Below is a link to another video on the Sunday News website about dementia: ‘New Hope for Dementia Sufferers and Their Families’</p>

<p><a href="http://tvnz.co.nz/sunday-news/new-hope-dementia-sufferers-and-their-families-16-12-video-3815993">http://tvnz.co.nz/sunday-news/new-hope-dementia-sufferers-and-their-families-16-12-video-3815993</a></p>
</div>

<div class='otca-tab' style='display:none'>
<h2><u>Journal Articles and Further Academic References</u></h2>
<p><em>Note: Some of these links will require a login or a library proxy to access.</em></p>
<strong>A definition of Cultural Safety:</strong>
<blockquote>
From: <a href='http://www.ingentaconnect.com/content/caot/cjot/2012/00000079/00000003/art00004'>
Gerlach, A. J. (2012). A critical reflection on the concept of cultural safety. Canadian Journal of Occupational Therapy, 79(3), 151–158
</a>
</blockquote>
&quot;A commonly cited contemporary definition of cultural safety comes from the Nursing Council of New Zealand (2005).

Cultural safety is the effective nursing/midwifery practice of a person or family from another culture, and is determined by that person or family. Culture includes, but is not restricted to, age or generation; gender; sexual orientation; occupation and socioeconomic status; ethnic origin or migrant experience; religious or spiritual belief; and disability. The nurse/midwife delivering the nursing/midwifery service will have undertaken a process of reflection on his/her cultural identity and will recognize the impact that his/her personal culture has on his/her professional practice. Unsafe cultural practice comprises any action which diminishes, demeans or disempowers the cultural identity and wellbeing of an individual (p. 7).&quot; 

<blockquote>
<a href='http://onlinelibrary.wiley.com/doi/10.1111/j.1440-1630.2010.00916.x/full'>
Stedman, A. & Thomas, Y. (2011). Reflecting on our effectiveness: Occupational therapy interventions with Indigenous clients. Australian Occupational Therapy Journal, 58, 43–49. Doi: 10.1111/j.1440-1630.2010.00916.x
</a>
</blockquote>
<blockquote>
<a href='http://www.ncbi.nlm.nih.gov/pubmed/19142271'>
Nguyen, H. (2008). Patient centred care: Cultural safety in indigenous health Australian Family Physician, 37(12), 990–994.
</a>
</blockquote>
<blockquote>
<a href='http://onlinelibrary.wiley.com/doi/10.1002/oti.236/abstract'>
Nelson, A. (2007). Seeing white: a critical exploration of occupational therapy with Indigenous Australian people. Occupational Therapy International, 14(4), 237–255.
</a>
</blockquote>
<blockquote>
<a href='http://www.nzaot.com/downloads/contribute/CulturalSafetyV49-No1.pdf'>
Jungersten, K. (2002). Cultural safety: Kawa Whakaruruhau – an occupational therapy perspective. New Zealand Journal of Occupational Therapy, 49(1), 4–9.
</a>
</blockquote>
</div>
<div class='otca-tab' style='display:none'>
<h2><img class="icon" alt="Quiz" src="/img/quiz.png">Quiz</h2>
{embed='quizes/generate' step='2'}
</div>

{embed="structure/footer" js_file='quiz-formatter.js' js_library="jquery.video-chapters.js"}
<script> 
$(document).ready(function() {
	$(".video-chapter-thumbs.video1").videoChapters("video1");
	$(".video-chapter-thumbs.video2").videoChapters("video2");
});
</script>