{embed="structure/header"}
		<h1>Step 6 - Intervention</h1>
<div id="resource-tabs">
<ul>
	<li class="selected"><h2><img class="icon" alt="Video" src="/img/video.png"> Video</h2></li>
        <li><h2><img class="icon" alt="Interactive" src="/img/interactive-icon30x30.png">Interactive</h2></li>
	<li class=""><h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2></li>
	<li class=""><h2><img src="/img/web-link.png" alt="Links" class="icon">Useful Links</h2></li>
	<li class=""><h2><img src="/img/quiz.png" alt="Quiz" class="icon">Quiz</h2></li>
</ul>
</div>
<div class='otca-tab'>	
<h2><img src="/img/video.png" alt="Video" class="icon"> Video</h2>
<div class='video-iframe'>
<h3>STEP 6 - INTERVENTION: In the Community Setting - Dom's Story</h3>
<iframe id='video1' width="560" height="315" src="https://www.youtube.com/embed/xQU_BYPgOCs" frameborder="0" allowfullscreen></iframe></div><div class='video-caption-links'>
{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='12'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class="video-chapter-thumbs video1">
<h3>Chapters</h3>    
    <a name='chapter 1' class='chapter' data-seconds='0m21s'>1. Life Before the Accident</a>
    <a name='chapter 2' class='chapter' data-seconds='2m18s'>2. The Accident</a>
    <a name='chapter 3' class='chapter' data-seconds='4m15s'>3. Rehabilitation</a>	
    <a name='chapter 4' class='chapter' data-seconds='7m44s'>4. Plans for the Future</a>	
</div>

<div class='video-iframe'>
<h3>STEP 6 - INTERVENTION: In the Community Setting - Dom's Home Environment & Equipment</h3>
<iframe id='video2' width="560" height="315" src="https://www.youtube.com/embed/FIMHrN0sjDw" frameborder="0" allowfullscreen></iframe></div>

<div class="video-chapter-thumbs video2">
<h3>Chapters</h3>
        <a name='chapter 1' class='chapter' data-seconds='0m26s'>1. Dom’s Car</a>
    <a name='chapter 2' class='chapter' data-seconds='5m08s'>2. Accessing His Home</a>
    <a name='chapter 3' class='chapter' data-seconds='5m47s'>3. The Living Area</a>	
    <a name='chapter 4' class='chapter' data-seconds='6m09s'>4. The Bathroom</a>
    <a name='chapter 5' class='chapter' data-seconds='7m17s'>5. The Bedroom</a>	
    <a name='chapter 6' class='chapter' data-seconds='7m38s'>6. The Kitchen</a>	
</div>

<div class='video-iframe'>
<h3>STEP 6 - INTERVENTION: In the Community Setting - Pressure Care</h3>
<iframe id='video3' width="560" height="315" src="https://www.youtube.com/embed/WSXXbnAPyYs" frameborder="0" allowfullscreen></iframe></div>
<div class="video-chapter-thumbs video3">
<h3>Chapters</h3>
      <a name='chapter 1' class='chapter' data-seconds='0m27s'>1. The Reason for Intervention</a>
    <a name='chapter 2' class='chapter' data-seconds='5m48s'>2. The Intervention Plan: Equipment</a>
    <a name='chapter 3' class='chapter' data-seconds='7m39s'>3. The Intervention Plan: Assessment and Plan</a>	
</div>

<div class='video-iframe'>
<h3>STEP 6 - INTERVENTION: In the Community Setting - The Intervention De-brief </h3>
<iframe id='video4' width="560" height="315" src="https://www.youtube.com/embed/RmwZxxSL_W4" frameborder="0" allowfullscreen></iframe></div>
<div class="video-chapter-thumbs video4">
<h3>Chapters</h3>
        <a name='chapter 1' class='chapter' data-seconds='0m27s'>1. This Intervention in the Context of the Occupational Therapy Practice Process</a>
    <a name='chapter 2' class='chapter' data-seconds='3m19s'>2. Using Practice Reasoning “Doing” During the Intervention</a>
    <a name='chapter 3' class='chapter' data-seconds='5m04s'>3. Developing Knowledge</a>	
</div>

</div>

<div class='otca-tab' style='display:none'>
<h2>Virtual House</h2>
<a href='/unity/016_web_build.html' target='_blank'>
<p>
<img src='/img/ot-house.png' alt='Occupational Therapy Virtual House (Unity Plugin required, this will open in a new tab.' /></p>
<p>Visit the 3D Virtual House (requires Unity plugin - approx 650KB)</p></a>	
</div>	

<div class='otca-tab' style='display:none'>
<h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2>
{exp:file:entries limit="20" paginate="both" directory_id="3" orderby="title" sort='asc' category='10'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class='otca-tab' style='display:none'>
<h2><img src="/img/web-link.png" alt="Links" class="icon">Useful Links</h2>
<p><b>World Health Organisation (WHO) YouTube Videos on Disability: ‘What’s Disability to Me?’</b></p>

<p><a href="http://www.youtube.com/who">http://www.youtube.com/who</a></p>

<p>Follow this link and type ‘What’s Disability to Me?’ into the channel search bar to see a range of videos with individual stories about disability. You can follow the links below to see some of these stories.</p>

<p>‘What’s Disability to Me? Faustina's Story’</p>

<p><a href="http://www.youtube.com/watch?v=w5QXcFk4kvA">http://www.youtube.com/watch?v=w5QXcFk4kvA</a></p>
</div>
<div class='otca-tab' style='display:none'>
<h2><img class="icon" alt="Quiz" src="/img/quiz.png">Quiz</h2>
{embed="quizes/generate step='6'"}
</div>

{embed="structure/footer" js_library="jquery.video-chapters.js" js_file='quiz-formatter.js'}
<script> 
$(document).ready(function() {
	$(".video-chapter-thumbs.video1").videoChapters("video1");
	$(".video-chapter-thumbs.video2").videoChapters("video2");
	$(".video-chapter-thumbs.video3").videoChapters("video3");
	$(".video-chapter-thumbs.video4").videoChapters("video4");
});
</script>