{embed="structure/header"}
		<h1>Step 1 - Request for Service</h1>
		<div class='contrast'>	
		<P CLASS="western" STYLE="margin-bottom: 0.35cm">This &ldquo;Request for
Service&rdquo; step is the first step of the {ot-practice-process-link}. It is important as it sets the scene for how you will
start to work in this particular practice area and with this
particular person(s).  You already know your practice context  -
where you are working and the people you will be working with (the
other disciplines and the clients).  Decisions you make now will set
you on one particular course of action.  This can always be added to
or altered along the way.  This is your actual starting point.</P>
</div>
<div id='resource-tabs'>
<ul>
	<li class='selected'><h2><img src="/img/video.png" alt="Video" class="icon">Video</h2></li>
	<li><h2><img src="/img/audio.png" alt="Audio" class="icon"> Audio</h2></li>
	<li><h2><img src="/img/book.png" alt="Book" class="icon">Documents</h2></li>
	<li><h2><img class="icon" alt="Quiz" src="/img/quiz.png">Quiz</h2></li>
</ul>
</div>

<div class='otca-tab'>
<h2><img src="/img/video.png" alt="Video" class="icon">Video</h2>
<div class='video-iframe'>
<h3>STEP 1 - REQUEST FOR SERVICE: In the Acute Care Setting</h3>
<iframe id='video1' width="560" height="315" src="https://www.youtube.com/embed/kwJIU0Oli2k" frameborder="0" allowfullscreen></iframe></div><div class='video-caption-links'>
<h3>Video Related Documents</h3>
{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='3'}
		<p><a href="{file_url}"><strong>{title}</strong></a></p>
{/exp:file:entries}
</div>

<div class="video-chapter-thumbs video1">
 <h3>Chapters</h3>

    <a name='chapter 1' class='chapter' data-seconds='0m0s'>1. Being Efficient and Maintaining Quality</a>
    <a name='chapter 2' class='chapter' data-seconds='3m08s'>2. Communicating</a>
    <a name='chapter 3' class='chapter' data-seconds='8m46s'>3. Implementing Professional and Legal Standards</a>	
    <a name='chapter 4' class='chapter' data-seconds='9m21s'>4. Collaborating</a>	
    <a name='chapter 5' class='chapter' data-seconds='09m53s'>5. Expectations for an EMERGING student at the Request for Service Step</a>
    <a name='chapter 6' class='chapter' data-seconds='10m31s'>6. Expectations for a COMPETENT GRADUATE when managing requests for service</a>
</div>
<div class='video-iframe'>
<h3>STEP 1 - REQUEST FOR SERVICE: In the Paediatric Setting</h3>
<iframe id='video2' width="560" height="315" src="https://www.youtube.com/embed/M-8ZQ02IzwA" frameborder="0" allowfullscreen></iframe></div>
<div class='video-caption-links'>
<h3>Video &ndash; Related Documents</h3>
{exp:file:entries limit="5" paginate="both" directory_id="3" orderby="title" sort='asc' category='4'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>

<div class="video-chapter-thumbs video2">
<h3>Chapters</h3>
    <a name='chapter 1' class='chapter' data-seconds='1m21s'>1. Receiving a Request for Service</a>
    <a name='chapter 2' class='chapter' data-seconds='2m16s'>2. Eligibility Criteria</a>
    <a name='chapter 3' class='chapter' data-seconds='3m26s'>3. Answering the Phone</a>	
    <a name='chapter 4' class='chapter' data-seconds='4m20s'>4. Parent Consent</a>	
    <a name='chapter 5' class='chapter' data-seconds='5m44s'>5. The Waiting List</a>
    <a name='chapter 6' class='chapter' data-seconds='6m51s'>6. The Appointment Process</a>
    <a name='chapter 6' class='chapter' data-seconds='7m50s'>7. Knowing When to Refer to Another Service</a>	
</div> 

</div>
<div class='otca-tab' style='display:none'>
<div style="float:left; clear:both;">
<h2><img class="icon" alt="Audio" src="/img/audio.png"> Audio: Practice Reasoning</h2>
<p>These audio clips feature three pairs of occupational therapy students demonstrating using their practice reasoning at the Request for Service Step. </p>

<p>In this exercise, each pair of students was given the set of de-identified request for service (referral) forms seen here:</p>

<ul>
<li><p>Standard Intake Form</p>

</li>
<li><p>Occupational Therapy Outpatient Referral Form – Adult or Child</p>

</li>
<li><p>Occupational Therapy Community Referral Form</p>

</li>
</ul>

<p>and asked talk through their thinking about the client together, as they looked at the forms.</p>

<p>Toward the end, they were also given a photo of the client to help their thinking.</p>

<p><a name="_GoBack"></a> Each pair of students is at a different competency development level: </p>

<ul>
<li><p>Emerging</p>

</li>
<li><p>Consolidating</p>

</li>
<li><p>Competent to Graduate</p>

</li>
</ul>

<p>The progression of practice reasoning and understanding is evident at each development level. </p>

<p>These examples will be useful to you in thinking about your own practice reasoning and in looking at a request for service (referral).</p>

</div>


<div style="float:left; width: 50%">
<h3>Audio Files</h3>
{exp:file:entries limit="20" paginate="both" directory_id="2" sticky="no" orderby="title" sort='asc' category='2'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div style='float: left; width: 50%; clear: right'>
<h3>Audio &ndash; Related Files</h3> 
{exp:file:entries limit="10" paginate="both" directory_id="3" orderby="title" sort='asc' category='19'}
        <p><a href="{file_url}"><strong>{title}</strong></a></p>
{/exp:file:entries}
</div>
</div>
<div class='otca-tab' style='display:none'>
<h2><img class="icon" alt="Book" src="/img/book.png">Documents</h2>
{exp:file:entries limit="20" paginate="both" directory_id="3" orderby="title" sort='asc' category='6'}
       

        <p><a href="{file_url}"><strong>{title}</strong></a></p>

{/exp:file:entries}
</div>
<div class='otca-tab' style='display:none'> 
<h2><img class="icon" alt="Quiz" src="/img/quiz.png">Quiz</h2>
{embed='/quizes/generate' step='1'}
</div>
</div>

{embed="structure/footer" js_library="jquery.video-chapters.js" js_file="quiz-formatter.js"}

<script> 
$(document).ready(function() {
	$(".video-chapter-thumbs.video1").videoChapters("video1");
	$(".video-chapter-thumbs.video2").videoChapters("video2");
});
</script>