{embed="structure/header" use_ot_evidencing_css='yes'}
{if logged_in}
<h2>Self-Assess Your OTCEM</h2>
<div class='feedback'>
<p>
    Here you self-assess your competency by ticking the OTCEM competency statements have achieved. This will save to your ePortfolio.
</p>
<p>
    Your Practice Educator will verify your self-assessment by agreeing or disagreeing. This is Observable Evidence.
</p>
<p>
    <strong><a href='/pages/important-otcem-info' style='color: red !important'>Click here for IMPORTANT INSTRUCTIONS &amp; INFORMATION for Self-Assessing Your OTCEM</u>
    . You MUST read this information first.</a></strong>
</p>
<p>
    <a href="https://otca.net.au/pages/evidencing-matrix">More information about the OTCEM.</a>
</p>
</div>
<div class='evidencing-app'>
			{exp:channel:entries channel="evidencing_matrix" limit="10" orderby="title" sort="asc" dynamic="no"}
				<p>{text_body}</p>
			{/exp:channel:entries}	
		</div>

{embed="structure/footer" login_required='true'}

{exp:matrix:studentjavascript 
	id='add_evidence' 
	jquery-selector='.evidencing-app'
	legend-title='Self-Assessment/Verification Legend'
	legend-current='Current Verified Competencies'
	legend-previous='Previously Verified Competencies'
	legend-waiting='Self-Assessed Competencies Awaiting Verification'
	unverified-competency-statement-link="View Unverified OTCEM Self-Assessment"
	verified-competency-statement-link="View Previously Verified OTCEM Self-Assessment"
	legend-colors="FFB510,852C8A,042C6D"
	text-contrast-colors= "161500,F7F7FB,FFD500"
	step-label='View the OTPP Step'
}
	{embed="embed/matrix-content"}
{/exp:matrix:studentjavascript}
<script>
$(document).ready(function() {
	$('.feedback').append("<p><a class='button' id='continue' href='/practice-placement/summary-of-your-competencies'>Continue to your ePortfolio &rarr;</a></p>");
});
</script>
{if:else}
	{redirect='/member/login'}
{/if}