{embed="structure/header" use_my_placement_css='yes'}
{exp:channel:entries channel="practice_placement_static_content"}	
<h2>{title}</h2>
<div class="contrast">
<p>{text_block_1}</p>

<p>{text_block_2}</p>

<p>{text_block_3}</p>
<div id='learning-contract-pane'></div>
<p><a id="continue" class="button" href="/practice-placement/set-your-learning-objectives">Set your learning objectives &rarr;</a></p>
</div>
{/exp:channel:entries}
{embed="structure/footer" login_required='true'}
{exp:practice_placement:learning_contractjs 
allowed_group_ids='5' 
no_access_message='This functionality is only available to Student members.' 
jquery_selector='#learning-contract-pane'
planning = 'false'
evidence = 'false'
objectives = 'false'	
}

