{embed="structure/header" use_ot_evidencing_css='yes'}
{exp:channel:entries channel="static_content"}	
<h2>{title}</h2> 
<div class='contrast' style='text-align: left'>
{document_summary}
{document_body}
<p><a href='/pages/evidencing-matrix#how'>Even more information on how to use the OTCEM...</a></p>
</div>
{/exp:channel:entries}
{embed="structure/footer" login_required='false'}


