{embed="structure/header" use_my_placement_css='yes'}
<h2>Plan for Your Placement</h2>
		<div class="contrast">
<p>Now that you've written your learning objectives, you'll need to plan how you are going to meet them.</p>
<ul>
<li>What will you do to achieve and demonstrate your learning objectives?</li>
<li>Use the resources in the {ot-practice-process-link} to help you think about how you will do this.<br>
<p id='otpp-thumb'><a href='#'>
<img width="250" height="250" src="/img/wheel-dyc-446px.png" id="wheel"/>
  </img></a></p>
</li>

<li>How you plan to evidence your competence<p>{levels-of-evidence-link}</p></li>
</ul>
<br>
<h3>Add a plan for each of your objectives</h3>
<p><a href='/pages/how-to-write-learning-objectives'>How to plan for your learning on placement.</a></p>
<span id='objectives-for-planning'></span>
<br>

<p><a href="/practice-placement/learning-contract-with-planning" class="button" id="continue">Save &amp; Continue to View your learning contract →</a></p>
<br clear='all'/><div style='float:right'><em>All saved content will be saved to {eportfolio-link}</em></div>
</div>
<div id='otpp' style='display:none'> 
<div id='exit-button'></div>
    <object width="650" height="650" id="wheel" type="image/svg+xml" style="float:right; clear:right;" data="/svg/wheel.svg">
  </object>
</div>



{embed="structure/footer" login_required='true'}
{exp:practice_placement:plan_for_your_placementjs allowed_group_ids='5' no_access_message='This functionality is only available to Student members.'}