{embed="structure/header" use_my_placement_css='yes'}
{exp:channel:entries channel="practice_placement_static_content"}
<h2>{title}</h2>
		<div class="contrast">
<p>{text_block_1}</p>
<ul>
<li>{text_block_2}</li>
<li>{text_block_3}<br>
<p id='otpp-thumb'><a href='#'>
<img width="250" height="250" src="/img/wheel-dyc-446px.png" id="wheel"/>
  </img></a></p>
</li>

<li>{text_block_4}</li>
</ul>
<br>
<h3>{sub_heading_6}</h3>
<p><a href='/pages/how-to-write-learning-objectives'>{text_block_5}</a></p>
<span id='objectives-for-planning'></span>
{/exp:channel:entries}
<br>

<p><a href="/practice-placement/learning-contract-with-planning" class="button" id="continue">Save &amp; Continue to View your learning contract →</a></p>
<br clear='all'/><div style='float:right'><em>All saved content will be saved to {eportfolio-link}</em></div>
</div>
<div id='otpp' style='display:none'> 
<div id='exit-button'></div>
    <object width="650" height="650" id="wheel" type="image/svg+xml" style="float:right; clear:right;" data="/svg/wheel.svg">
  </object>
</div>



{embed="structure/footer" login_required='true'}
{exp:practice_placement:plan_for_your_placementjs allowed_group_ids='5' no_access_message='This functionality is only available to Student members.'}