{embed="structure/header" use_my_placement_css='yes'}
{exp:channel:entries channel="practice_placement_static_content"}	
<h1>{title}</h1>
<!-- h3 style='color: red'>This area of the site is currently undergoing routine database maintenance.  This may affect the functioning of this page.
Please be patient as normal functionality will resume shortly.</h3 -->
<div class='contrast'>
<span id='nominate' style='display:none'>
{sub_heading_1}
{text_block_1}
</span>

{sub_heading_2}

{text_block_2}

{sub_heading_3}

{text_block_3}

{text_block_4}	

{text_block_5}

<p><a id="continue" class="button" href="/practice-placement/prepare-for-practice-part2">
	Save &amp; Continue to Part 2 &rarr;</a>&nbsp;&nbsp;<a class='button' id='save'>Save Progress</a>&nbsp;&nbsp;
	<a class='button' id='printable'>Printable View of Letter to Educator</a>&nbsp;&nbsp;<br>
</p>
{text_block_6}
</div> 
{/exp:channel:entries}
{embed="structure/footer" js_command="$('textarea').autosize()" login_required='true'}
{exp:practice_placement:prepareforpracticejs 
	allowed_group_ids='5'
	 no_access_message='This functionality is only available to Student members.'
}	