{embed="structure/header" use_my_placement_css='yes'}
<h2>Prepare For This Practice Placement (Part 1)</h2>
<!-- h3 style='color: red'>This area of the site is currently undergoing routine database maintenance.  This may affect the functioning of this page.
Please be patient as normal functionality will resume shortly.</h3 -->
<div class='contrast'>
<h3>1. Nominate Your Educator</h3>
<p><strong><a href='/member/memberlist' target='_blank'>Begin by clicking here and nominating your Practice Educator/s and University Lecturer/s</a> (This will open in a new window.  Close the window and return to this page once you have finished the nomination process.)</strong></p>
<br>
<h3>2. Website Access</h3>
<p>In order to ensure you are able to access this website on your practice placement, it is best to first check if the location you are at has internet access and that this site is not blocked.</p> 
<p id='openLocator'><strong style='color: #639'>Click here if you believe you will have issues accessing the internet at your location.</strong></p>
<span id='locator'>
	
</span>
<br>
<h3>3. Letter of Introduction to Your Practice Educator</h3>
<img src='/img/behind_the_scenes_vid1.png' style='width: 360px;float:right'/>
<p>It is important before beginning each placement experience to reflect and summarise your current level of skill and competency development so that you can set meaningful learning objectives for your next placement. The ability to reflect, self-assess and concisely summarise your abilities is an important part of Being a Professional, as it is an integral part of commitment to lifelong learning. This process enables you to actively plan and pursue appropriate continuous professional development opportunities throughout your occupational therapy career. 
Complete the sections below. This can be used as a letter of introduction to your practice educator or as an ice breaker on your first day, as well as a foundation for setting meaningful learning objectives.</p>
	<ul style='list-style: none'>
	<style>textarea { width: 750px; min-height: 90px; } </style>
		<li>
		Your Practice Educator's name: &nbsp;&nbsp;<input id='edname' data-tag='prepare-statement-0' type='text' length='20'/>	
		</li>
		<li><p><strong>Introduce yourself here.</strong> Mention previous placements or relevant work/life experience. Mention your university courses that you have completed, which have provided you with relevant background knowledge for this placement. Mention your specific interests. It is acceptable to tell your practice educator if you have any concerns about the placement for which you would like some support, some specific guidance or information that you could research.</p>
			<textarea id='statement1' data-tag='prepare-statement-1'></textarea><br>
		</li>
		
		<li><p><strong>Reflect on your competency here.</strong> This is an opportunity to tell your practice educator what kind of skills you have developed so far in your placements or work experience. Use the Occupational Therapy Practice Process if you need guidance. What have your previous educators advised you that you excel in and what have they told you needs further work or practice? Be professional, objective but honest, having insight into your strengths and issues which you find challenging will be valued by your educator. </p>
			<textarea id='statement2' data-tag='prepare-statement-2'></textarea><br>
		</li>

		<li><p><strong>Summarise your overall goals for the placement here.</strong> Explain the aspects of practice that you would particularly like to have experience in or develop in your next placement. Use the Occupational Therapy Practice Process if this helps you consider these. Also, you can consider skills, knowledge and professional behaviour, as these are integral to competence. Tell your practice educator what you have done to prepare for this placement experience, and again, ask for any for information or preparation that you could access.  This shows your practice educator you are committed to your professional development.</p>
			<textarea id='statement3' data-tag='prepare-statement-3'></textarea><br>
		</li>

		<li><p><strong>Complete your letter of introduction here.</strong> Thank your practice educator for offering to take you as a student, be positive about your commitment to learning and that their feedback on all aspects of your performance on placement will be welcomed, as this is important in becoming a competent occupational therapist.</p>
			<textarea id='statement4' data-tag='prepare-statement-4'></textarea><br>
		</li>
		
	</ul>
</p>

<p>To make a printable or PDF copy of this letter use the button below.  You can either print or copy and paste the letter from there into a
Word or other document. The letter will open in a new window, you may need to allow pop-ups in your browser for this site.</p>
<p><a id="continue" class="button" href="/practice-placement/prepare-for-practice-part2">Save &amp; Continue to Part 2 &rarr;</a>&nbsp;&nbsp;<a class='button' id='save'>Save Progress</a>&nbsp;&nbsp;<a class='button' id='printable'>Printable View of Letter to Educator</a>&nbsp;&nbsp;<br>
</p>
<div style='float:right'><em>All saved content will be saved to {eportfolio-link}</em></div>

{embed="structure/footer" js_command="$('textarea').autosize()" login_required='true'}
{exp:practice_placement:prepareforpracticejs 
	allowed_group_ids='5'
	 no_access_message='This functionality is only available to Student members.'
}