{embed="structure/header" use_my_placement_css='yes'}
{exp:channel:entries channel="practice_placement_static_content"}	
<h1>{title}</h1>
<div class='contrast'>
<h3>1. {ot-practice-process-link}</h3>
<label for='wheel'>Find out about the {ot-practice-process-link}, why you need to use it and how it will help you develop your Learning Contract.</label>
<p id='otpp-thumb'>
<a href='#'>

<img width="250" height="250" src="/img/wheel-dyc-446px.png" id="wheel"/>

</a></p>
<br>
<h3>2. {sub_heading_1}</h3>
<label for="steps">Which step(s) of the {ot-practice-process-link} will you focus on?</label>
<p style="font-size: 12pt;"><strong><u>Select one or more process steps for your focus:</u></strong>
<select id="steps" multiple="multiple" title='Occupational Therapy Practice Process Steps'>
<option value="1">1 - Request for Service</option>
<option value="2">2 - Information Gathering</option>
<option value="3">3 - Occupational Assessment</option>
<option value="4">4 - Identification of Occupational Issues</option>
<option value="5">5 - Goal Setting</option>
<option value="6">6 - Intervention</option>
<option value="7">7 - Evaluation</option>
</select>
</p>
{text_block_1}
<p>&nbsp;</p> 
<h3>3. {sub_heading_2}</h3>
<p>
<div id='step-defs' style='cursor: pointer'>
	{competency_levels}    
</div></p>
<br>
<br>
<p>
{text_block_2}
</p>

<p><label for="level">{text_block_3}</label>
<select id="level">
<option value="1">Emerging</option>
<option value="2">Consolidating</option>
<option value="3">Competent at Graduation</option>
</select></p>

<p><a id="continue" class="button" href="/practice-placement/intro-learning-contract">Save &amp Continue to Introduction to your learning contract &rarr;</a></p>
<br clear='all'/><div style='float:right'><em>All saved content will be saved to {eportfolio-link}</em></div>
</div>
<div id='otpp' style='display:none'> 
<div id='exit-button'></div>
    <object width="650" height="650" id="wheel" type="image/svg+xml" style="float:right; clear:right;" data="/svg/wheel.svg">
  </object>
</div>
{/exp:channel:entries}

{embed="structure/footer" login_required='true' js_file='level-defs-window.js'}
{exp:practice_placement:prepare_for_practice_part2js allowed_group_ids='5' no_access_message='This functionality is only available to Student members.'}