{embed="structure/header" use_my_placement_css='yes'}
	
<h2>Reflection &amp; Planning</h2>
<div class='contrast'>
<p>Think about this Practice Placement Cycle & plan for your next placement to help you prepare for, and apply what you have learned to your next Practice Placement Cycle.</p>
<p>		
  <textarea id='overall_reflection' data-tag='overall_reflection' style='min-width: 750px; min-height: 200px'></textarea><br>
</p>

<p><a id="continue" class="button" href="/practice-placement/prepare-for-practice">Save &amp; Continue to Prepare for Your Next Practice Cycle &rarr;</a></p>
<div style='float:right'><em>Your reflection will be saved to {eportfolio-link}.</em></div>
</div>
{embed="structure/footer" js_file="{segment_2}.js" login_required='true'}