{embed="structure/header" use_my_placement_css='yes' extra_css='{segment_2}'}
{exp:channel:entries channel="practice_placement_static_content"}
<h2>{title}</h2>
	<div id='ot-practice-process-model' title="Occupational Therapy Practice Process" style='float: left'>
		<div id='dyc-step1' class='dyc-step'></div>	
		<div id='dyc-step2' class='dyc-step'></div>		
		<div id='dyc-step3' class='dyc-step'></div>	
		<div id='dyc-step4' class='dyc-step'></div>
		<div id='dyc-step5' class='dyc-step'></div>
		<div id='dyc-step6' class='dyc-step'></div>
		<div id='dyc-step7' class='dyc-step'></div>
	<div id="text-step1" class='dyc-text'><a href='/practice-resources/request-for-service' style='text-decoration: none; color: black;'>Request for Service</a></div>
<div id="text-step2" class='dyc-text'><a href='/practice-resources/information-gathering' style='text-decoration: none; color: black;'>Information Gathering</div>
<div id="text-step3" class='dyc-text'><a href='/practice-resources/occupational-assessment' style='text-decoration: none; color: black;'>Occupational Assessment</div>
<div id="text-step4" class='dyc-text'><a href='/practice-resources/identification-of-occupational-issues' style='text-decoration: none; color: black;'>Identification of Occupational Issues</div>
<div id="text-step5" class='dyc-text'><a href='/practice-resources/goal-setting' style='text-decoration: none; color: black;'>Goal Setting</div>
<div id="text-step6" class='dyc-text'><a href='/practice-resources/intervention' style='text-decoration: none; color: black;'>Intervention</div>
<div id="text-step7" class='dyc-text'><a href='/practice-resources/evaluation' style='text-decoration: none; color: black;'>Evaluation</div>							
	</div>
<div class='contrast' style='float:left; width: 832px; margin-top: 20px'>
	<p>{text_block_1}</p>
	<p>{text_block_2}</p>
	<p>{text_block_3}</p>
{/exp:channel:entries}	
	<a href='/practice-placement/evidence-your-competencies' class='button' id='continue'>Evidence Your Competencies &rarr;</a>
</div>

{embed="structure/footer" login_required='true'}
{exp:practice_placement:resources_to_dev_competenciesjs
allowed_group_ids='5' 
no_access_message='This functionality is only available to Student members.' 
}