{embed="structure/header" use_my_placement_css='yes'}

<h2>Think about this Practice Placement Cycle &amp; Plan for Your Next Placement</h2>	
<div class='contrast'>
	<p><strong>My Learning Journey Milestones</strong>
	<img id='fast-wheelchair' src="/img/racer.jpg"/>
	</p>
	<p>Based on your learning objectives below, note what you have learned.
	You can also use the {evidencing-matrix-link} as a guide.</p>
	
	<ol><li>Self assessing can be completed during or after your practice placement, or both.</li>
	<li>Before evidencing your competencies consider:
	<ul><li>What you have learned and how you have developed</li>
	<li>How you have fulfilled your learning objectives</li>
	<li>Any areas for improvement</li>
	</ul>
	</li>
	<li>Check your {summary_page_link} to reflect on your past self-assessments to gauge your development</li>
	<li>You can also check your {learning-contract-link} for this practice placement.</li>
	</ol>
	
	
	<p style='margin-left: 1em'><label for='revisedStrengthsStatement'><strong>What I did to fulfil my learning objectives.</strong></label>
	<textarea id='revisedStrengthsStatement' data-tag='self-assess-statement-1'></textarea></p>
	
	<p style='margin-left: 1em'><label for='learnedStatement'><strong>What I've learnt about myself from this practice placement. How I can improve.</strong></label>
	
	<textarea id='learnedStatement' data-tag='self-assess-statement-2'></textarea></p>
	
	<p style='margin-left: 1em'><label for='improvementStatement'><strong>What I know now about myself as a professional. How have my strengths as an O.T. developed?</label><br>
	<textarea id='improvementStatement' data-tag='self-assess-statement-3'></textarea></p>
	
	<p style='margin-left: 1em'><label for='reflectStatement'><strong>Now, using the answers above, reflect on this Practice Placement Cycle to help you prepare for, 
	and apply what you have learned to your next Practice Placement Cycle.</strong></label><br>		
  	<textarea id='reflectStatement' data-tag='self-assess-statement-5' style='min-height: 120px'></textarea><br>

	</p>
	
	<p><a href='/practice-placement/summary-of-your-competencies/' class='button' id='continue'>Save &amp; Complete</a></p><br clear='all'/>
	<div style='float:right'><em>Your reflections will be saved to {eportfolio-link}.</em></div>
</div>

{embed="structure/footer" js_file='{segment_2}.js' login_required='true'}