{embed="structure/header" use_my_placement_css='yes'}
{exp:channel:entries channel="practice_placement_static_content"}	
<h2>{title}</h2>	
<div class='contrast'>
	<p><strong>{sub_heading_1}</strong>
	<img id='fast-wheelchair' src="/img/racer.jpg"/>
	</p>
	<p>{text_block_1}</p>
	
	<ol>
		{text_block_2}
	</ol>
	
	{text_block_3}

	<p><a href='/practice-placement/summary-of-your-competencies/' class='button' id='continue'>Save &amp; Complete</a>&nbsp;&nbsp;<a class='button' id='printable'>Printable View</a></p><br/>
	{text_block_4}
</div>
{/exp:channel:entries}

{embed="structure/footer" js_file='{segment_2}.js' login_required='true'}