{embed="structure/header" use_my_placement_css='yes'}

{exp:channel:entries channel="practice_placement_static_content"}			
<h2>{title}</h2>
<div class="contrast">
<ol>
{text_block_1}
</ol>
<img src="/img/behind_the_scenes_vid2.png" style="text-align: left; width: 410px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; float: right;">
<p>{text_block_2} <span class='steps'></span> {text_block_3}</p>

<p>{text_block_4}</p>

<label for="objectives">My learning objectives:</label>
<p>{how-to-write-learning-objectives-link}</p>
<p id="objectives"><img src="/img/close-icon-white.png" class="exit" title="Remove this learning objective">
	
	<span id='instructions'>{text_block_5}</span><br>
	<textarea></textarea>
	<img src='/img/plus-icon.png' class='add' title='Add another learning objective'></img><br><img src=/img/ajax-loader-circle.gif class=loader></img></p>
<br>

<p><a href="/practice-placement/learning-contract-with-objectives" class="button" id="continue">Save &amp; Continue to View your learning contract &rarr;</a><br><br>
<em style='float:right'>All saved content will be saved to <a href="/practice-placement/summary-of-your-competencies">Your ePortfolio</a></em></p>
</div>
<div id='otpp' style='display:none'> 
<div id='exit-button'></div>
    <object width="650" height="650" id="wheel" type="image/svg+xml" style="float:right; clear:right;" data="/svg/wheel.svg">
  </object>
</div>
<div id='criteria-data' style='display:none'></div>
{/exp:channel:entries}


{embed="structure/footer" login_required='true' js_file='level-defs-window.js'}
{exp:practice_placement:set_your_learning_objectivesjs allowed_group_ids='5' no_access_message='This functionality is only available to Student members.'}