{if logged_in}
{embed="structure/header" use_my_placement_css='yes' use_ot_evidencing_css='yes' extra_css='{segment_2}'}
<h2>Your ePortfolio: A Summary of Your Competencies</h2>

<div class='contrast'>
	<!-- <p style='color: yellow; font-weight:bold;'>THIS PAGE IS BEING EDITED THERE MAY BE FORMATTING ISSUES WHILE VIEWING THIS PAGE.</p> -->
	<p>This page shows the history of all your evidence and diary entries so far.</p>
	<p>You can highlight evidence in colours you have agreed with you educator/s.  This will make the evidence
	appear at the top of this list when your educator/s click into your portfolio.</p>	

Show: <label for='evidence'><input id='evidence' type='checkbox' checked='checked'>Evidence</label>

<label for='diary'><input id='contracts' type='checkbox' checked='checked'>Learning Contracts</label>
<label for='diary'> 
    <input id='diary' type='checkbox' checked='checked'>Diary Entries</label>
    <label for='letters'><input name='letters' id='letters' type='checkbox'>Letters to Educator</label>
    <label for='reflections'><input name='reflections' id='reflections' type='checkbox'>Reflection/Planning</label><br>
    <button id='save_item' title='Upload an additional item to your ePortfolio'>Upload Item</button>
<!-- <a style='margin-left:2em' href='/pracsot' target="_blank">Your PRACSOT Progress</a> -->
	
	<div id='timeline-container' style='width:750px; max-width:750px'>
	</div>	
	<a href="/practice-placement/self-assess-your-competencies" class="button" id="resetCycle" style="margin-top: 25px;">
		Think about this Practice Placement Cycle & Plan for Your Next Placement &rarr;
	</a>
</div>

{embed="structure/footer"}

{exp:folio:studentjavascript}
{if:else}
	{redirect='/member/login'}
{/if}