{if logged_in}
{embed="structure/header" use_my_placement_css='yes' use_ot_evidencing_css='yes' extra_css='{segment_2}'}

<style>
	/*
	 * 	Temporary style sheet
	 */
	.folio-item-heading {
		color: rgb(68, 68, 68); 
		font-size: 13px;
	}
	#timeline-container li {
		min-height: 9px;
	}
	#timeline-container li.expanded {
		max-height: 150px;
	}
	#timeline-container li p, .folio-item-heading p {
		margin-top: -1em;
		font-size: 12px;
	}
	#timeline-container li a, .folio-item-heading a {
		color: #0070C0; 
		line-height: 22px;
		font-size: 12px;
	}
	#timeline-container li u, .folio-item-heading u {
		margin-top: -1em;
		font-size: 12px;
	}
	/*.folio-item-heading .recently-assessed {
		margin-top: 0;
	}*/
	.folio-step-level {
		font-size: 10px;
	}
	.folio-entry-date {
		line-height: 0px;
		font-size: 12px;
		margin: 12px 24px 0 0;
		float: right;
	}
	.folio-recently-assessed {
		color:#FFB510; 
		background-color: #333;
	}
	.folio-download {
		color: #639;
	}
	.expand-link-wrapper {
		float:right; 
		font-family: verdana, arial, sans-serif; 
		font-size:11px; 
		margin-right: 1em
	}
</style>
<h2>Your ePortfolio: A Summary of Your Competencies</h2>

<div class='contrast'>
	<!-- <p style='color: yellow; font-weight:bold;'>THIS PAGE IS BEING EDITED THERE MAY BE FORMATTING ISSUES WHILE VIEWING THIS PAGE.</p> -->
	<p>This page shows the history of all your evidence and diary entries so far.</p>
	<p>You can highlight evidence in colours you have agreed with you educator/s.  This will make the evidence
	appear at the top of this list when your educator/s click into your portfolio.</p>	

Show: <label for='evidence'><input id='evidence' type='checkbox' checked='checked'>OTCEM Self-Assessments & Evidence</label>
<label for='current_cycle'><input name='current_cycle' id='current_cycle' type='checkbox' checked='checked'>Current PPC Only</label>
<label for='diary'><input id='contracts' type='checkbox' checked='checked'>Learning Contracts</label>
<label for='diary'> 
    <input id='diary' type='checkbox' checked='checked'>Diary Entries</label><br>
    <label for='letters'><input name='letters' id='letters' type='checkbox'>Letters to Educator</label>
    <label for='reflections'><input name='reflections' id='reflections' type='checkbox'>Reflection/Planning</label>
     
    <br>
    <button id='save_item' title='Upload an additional item to your ePortfolio'>Upload Item</button>
<!-- <a style='margin-left:2em' href='/pracsot' target="_blank">Your PRACSOT Progress</a> -->
	
	<div id='timeline-container' style='width:750px; max-width:750px'>
	</div>	
	<a href="/practice-placement/self-assess-your-competencies" class="button" id="resetCycle" style="margin-top: 25px;">
		Reflection &amp; Planning &rarr;
	</a>
</div>

{embed="structure/footer"}

{exp:test_folio:studentjavascript}
{if:else}
	{redirect='/member/login'}
{/if}