<?php
	$s1 = $this->EE->input->post("statement1");
	$s2 = $this->EE->input->post("statement2");
	$s3 = $this->EE->input->post("statement3");
	$s4 = $this->EE->input->post("statement4");
?>
<!DOCTYPE html>
<head>
<title>{screen_name}'s Reflection and Planning</title>
<style>
body {
	font-family: Garamond, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	width: 800px;
	margin: 0 auto;
}
table, td {
	border: thin solid black;
	font-size: 10pt;
}
td {
	padding: 5px;
}
</style>
</head>
<body>
{exp:member:custom_profile_data}
<h2>{first_name} {last_name}'s Reflection &amp; Planning</h2>
<h3>Student Number: {student_number}</h3>
{/exp:member:custom_profile_data}
<p>{current_time format="%d%S %F %Y"}</p>

<p id='statement1'><?= $s1 ?></p>

<p id='statement2'><?= $s2 ?></p>

<p id='statement3'><?= $s3 ?></p>

<p id='statement4'><?= $s4 ?></p>

<p><form>
<input type="button" value="Print this page" onClick="window.print()">
</form></p>
</body>
</html>