<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>The Johari Window</title>
</head>

<body>
<style>
#johari-container {
	margin: 1em auto;
	width: 550px;
	height: 460px;
}
#iframe-container {
	width: 444px;
	height: 444px;
	float:left;
}
#iframe-container > iframe {
	width: 444px;
	height: 444px;
}
#johari-labels-l {
	float: left;
	padding-left: 12px;		
}
#johari-labels-l {
	float: left;
	padding-left: 12px;	
	padding-top:25px;	
}
#johari-labels-b {
	padding-left: 71px;
	float: left;
}
#mdevice 
{
	display: none;
}
device { display: none; }   /* hide it elsewhere */

</style>
<h1>The Johari Window</h1>
<h3><a href='/counselling/johari-mobile'>View touchscreen/mobile version</a></h3>	
<div id="johari-container">
<div id="johari-labels-l">
<img src="/img/label_left.png" width="33" height="358" alt="known to others">
</div>
<div id="iframe-container">
<iframe src="/counselling/johari-mobile" style="overflow: hidden;" seamless>
</iframe>
</div>
<div id="johari-labels-b">
  <img src="/img/label_bottom.png" width="378" height="34" alt="known to others"> 
</div>
  <div style="font-family: Verdana, Geneva, sans-serif; font-size: 6px; color: #ccc">© Interactive Johari window developed by Paul Sijpkes (CTL, University of Newcastle)</div>
</div>
<p>&nbsp;</p>

<p>The Johari Window 'panes' can be changed in size to reflect the relevant proportions of each type of 'knowledge' of/about a particular person in a given group or team situation. The panes above are adjustable by hovering your mouse over the intersection of the panes. You can add text to the panes by clicking in them.<br>
  <br>
  In new groups or teams the open free space for any team member is small  because shared awareness is relatively small.&nbsp;<br>
  <br>
As the team member becomes better established and known, so the size of the team member's open free area quadrant increases.&nbsp;</p>
<p>Read more about the Johari window in these articles:
</p><p>This excerpt is from the <a href="http://www.businessballs.com/johariwindowmodel.htm">businessballs.com</a> website.</p>
<ul>
<li><a href="http://www.mindtools.com/CommSkll/JohariWindow.htm">http://www.mindtools.com/CommSkll/JohariWindow.htm</a>
</li>
<li>
<a href="http://en.wikipedia.org/wiki/Johari_window">
http://en.wikipedia.org/wiki/Johari_window
</a>
</li>
</ul>
<p></p>





</body></html>